<% provide :page_title, construct_page_title(collection.title) %>
<% provide :above_container_header do %>
  <%= render 'collection_show/collection_top' %>
<% end %>
<div itemscope itemtype="http://schema.org/CollectionPage" class="collection-show">
  <%= render 'collection_show/search_within_collection' %>
  <div class="row">
    <% if @response.documents.present? %>
      <div class="sidebar-col">
         <%= render 'facets' %>
      </div>
    <% end %>
    <div class="content-col">
      <%= render 'search_results' %>
    </div>
  </div>
</div>