<div class="container-fluid homepage-wrapper featured-topics-wrapper">
  <div class='row no-gutters featured-topics-title-div'>
      <h2 class="brand-alt-h2">Featured Topics</h2>
  </div>
  <div class="row no-gutters featured-topics-list">
      <% FeaturedTopic.all.each do |ft| %>
          <div class="featured-topic">
            <%= link_to featured_topic_path(ft.slug) do %>
              <%= image_tag ft.thumb_asset_path, class: "featured-topic-image", width: "100%" %>
              <div class="featured-topic-title-wrapper">
                <h3 class="featured-topic-title"><%= ft.title.upcase %></h3>
              </div>
            <% end %>
          </div>
      <% end %>
  </div>
</div>
