<div class="container-fluid">
    <div class="row">
        <div class="col-xl" style="background-color: lightgreen">
          Hero image
        </div>
        <div class="col-xl" style="background-color: lightblue">
          Search form
        </div>
    </div>
</div>