<div class="ribbon-section ribbon-section-inner recent-items">
  <div class="title-div">
    <h2>Recently Added</h2>
  </div>

  <div class="recent-items-list">
      <% RecentItems.new.recent_items.each do |work| %>
          <%= link_to work_path(work.friendlier_id), class: "recent-item" do %>
            <div class="image-wrapper">
              <%= render ThumbComponent.new(
                work.leaf_representative,
                thumb_size: :standard,
                alt_text_override: "#{work.title}")
              %>
            </div>
            

            <div class="recent-title">
              <%= truncate(work.title, length: 130) %>
            </div>
            
            <% if work.leaf_representative&.content_type&.start_with?("video/") %>
              <div class="recent-item-video-cam-overlay">
                <!-- From https://icons.getbootstrap.com/icons/camera-reels/ -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="-2 -2 20 20">
                  <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0M1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0"/>
                  <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm6 8.73V7.27l-3.5 1.555v4.35zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1"/>
                  <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6M7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                </svg>
              </div>
            <% end %>
          <%end%>
      <%end%>
  </div>
</div>
