<div class="ribbon-section ribbon-section-inner recent-items">
  <div class="title-div">
    <h2>Recently Added</h2>
  </div>

  <div class="recent-items-list">
      <% RecentItems.new.recent_items.each do |work| %>
          <%= link_to work_path(work.friendlier_id), class: "recent-item" do %>
            <div class="image-wrapper <%= "img-wrapper-video-icon" if work.leaf_representative&.content_type&.start_with?("video/")%>">
              <%= render ThumbComponent.new(
                work.leaf_representative,
                thumb_size: :standard,
                alt_text_override: "#{work.title}")
              %>
            </div>
            <div class="recent-title">
              <%= truncate(work.title, length: 130) %>
            </div>
          <%end%>
      <%end%>
  </div>
</div>
