<% provide :suppress_controls, true %>
<% content_for(:suppress_masthead_search, true) %>


<%#= The homepage's content goes directly into mainContainer;
we want the full width of the screen, no margins or padding. %>
<% content_for(:full_width_layout, true) %>


<section role="main">
    <%= render 'homepage/hero_image_and_search_form' %>
    <%= render 'homepage/recent_items' %>
    <%= render 'homepage/featured_topics' %>
    <%= render 'homepage/featured_collection' %>
</section>