<% provide :page_title, "Science History Institute Digital Collections" %>
<% provide :suppress_controls, true %>
<% content_for(:suppress_masthead_search, true) %>
<div>
    <div class="pre-heading">Science History Institute Digital Collections</div>
    <p>The home page is currently under construction. Stay tuned, please.</p>
</div>