<% provide :page_title, "Science History Institute Digital Collections" %>
<%# content_for :container_class, "container-fluid homepage-content-wrapper branded-body-font" %>
<% provide :suppress_controls, true %>

<%# TODO: figure out what the content_for :container_class tag does on the sufia home page. %>
<div class="container-fluid homepage-content-wrapper branded-body-font" >

<div class="homepage-wrapper">
  <div class="row hero-search-container no-gutters">
    <figure class="hero-image col-xs-12 col-md-6">
      <%# TODO: Fix this hardcoded image src and implement the hero feature %>
      <img alt="" src="https://scihi-kithe-stage-derivatives.s3.amazonaws.com/93103656-fe89-4203-956d-edf64c38824f/thumb_large/4518b2be7578df537cd2b8d5f88a266f.jpg">
      <figcaption>
          <a href="/works/w6634363x">Wilson College chemistry club</a>
      </figcaption>
    </figure>
    <div class="col-xs-12 col-md-6 home-right-column">
      <div class="row search-container">
        <div class="digital-description col-xs-12 col-sm-6 col-md-12">
          <div class="pre-heading">Science History Institute</div>
            <h2 class="brand-alt-h2">Digital Collections</h2>
            <p>Search <%= number_with_delimiter(Work.count) %> of our digitized items: artifacts, photographs, advertisements, letters, rare books, and more. You can also learn more about the rest of our <a href="https://sciencehistory.org/collections">collections.</a></p>
        </div>
        <div class="search-callouts col-xs-12 col-sm-6 col-md-12">
          <%= render partial: 'application/search_form' %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'homepage/recent_items' %>

  <div class='row categories-title-div no-gutters'>
    <h2 class="brand-alt-h2">Featured Topics</h2>
  </div>

  <div class="row categories-list no-gutters">
    <%#= render partial: "category_teaser", collection: CHF::SyntheticCategory.all, as: :category %>
  </div>

  <%= render '/homepage/featured_collection' %>
</div>