// Our main CSS file, uses SCSS, imports from other sources, npm packages
// and local.
//
// We also still have a bit of CSS via sprockets in ./app/assets/stylesheets
//
// And note that CSS can also be loaded by our JS entrypoints, for instance
// font-awesome is intentionally imported from application.js, to get it to work.


// Have to import our variables BEFORE bootstrap, as we set some bootstrap variables
@import "@stylesheets/variables";
@import "@stylesheets/mixins";

@import 'bootstrap/scss/bootstrap';

@import 'blacklight-frontend/stylesheets/blacklight';

@import "@stylesheets/responsive-tabs/responsive-tabs";

// Note we are importing .css NOT .scss from font-awesome distro!
// This avoids SASS deprecation warning on use of fontawesome 4 '/'
// operator, and also succesfully links fonts in, which scss wasn't for some reason.
@import "font-awesome/css/font-awesome.css";

//  courtesy of https://www.npmjs.com/package/vite-plugin-sass-glob-import
//  Import everything in local, in alphabetical/arbitrary order
//  For some reason the resolve alias does not work?
//  https://github.com/cmalven/vite-plugin-sass-glob-import/issues/7
@import "../stylesheets/local/**/*.scss";

