<div class="my-5 my-3">
  <h3>Upload HOCR and text-only PDF</h3>
  <p class="text-muted small mt-3">
    This will replace the <b>HOCR</b> and <b>textonly_pdf</b> for this asset, if they exist. Both are considered ephemeral and are typically created automatically, so they could get overwritten without notice.</p>
  </p>
  <%= form_with(url: "/admin/asset_files/#{asset.friendlier_id}/submit_hocr_and_textonly_pdf", local: true, multipart: true, method: :put) do %>
    <div class="row my-3">
      <div class="col">
        <label for="hocr">HOCR</label>
      </div>
      <div class="col">
        <%= file_field_tag 'hocr',         accept: "application/xml", disabled: cannot?(:update, @asset) %>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <label for="textonly_pdf">textonly_pdf</label>
      </div>
      <div class="col">
        <%= file_field_tag 'textonly_pdf', accept: "application/pdf", disabled: cannot?(:update, @asset) %>
      </div>
    </div>
    <%= submit_tag "Upload HOCR and textonly_pdf", class: "btn btn-primary", disabled: cannot?(:update, @asset) %>
  <% end %>
</div>