# These are our python pip dependencies, at this point only for command-line
# utilities. We use this file to load them in production (heroku), in test
# (github actions), and in development (MacOS)
#
# *** ALL REQUIREMENTS SHOULD HAVE EXACT VERSION NUMBERS SPECIFIED ***
#
# due to lack of other lockfile, and to make caching work properly for example
# https://github.com/actions/setup-python#caching-packages-dependencies
#
# On heroku, with python buildpack included, this file will be automatically
# used for installs. https://www.codementor.io/@inanc/how-to-run-python-and-ruby-on-heroku-with-multiple-buildpacks-kgy6g3b1e


img2pdf==0.6.1