# These are our python pip dependencies, at this point only for command-line
# utilities. We use this file to load them in production (heroku), in test
# (github actions), and in development (MacOS)
#
# *** ALL REQUIREMENTS SHOULD HAVE EXACT VERSION NUMBERS SPECIFIED ***
#
# due to lack of other lockfile, and to make caching work properly for example
# https://github.com/actions/setup-python#caching-packages-dependencies
#
# On heroku, with python buildpack included, this file will be automatically
# used for installs. https://www.codementor.io/@inanc/how-to-run-python-and-ruby-on-heroku-with-multiple-buildpacks-kgy6g3b1e



# img2pdf==0.4.4
#
# We need an img2pdf with a fix for jp2 alpha channels that is not yet included
# in a release.
#
# https://gitlab.mister-muffin.de/josch/img2pdf/issues/173
# https://gitlab.mister-muffin.de/josch/img2pdf/commit/acc25a49265effbbffa36e053ae2a3aa633eddbf
#
# When that fix is included in a release, sometime after 0.4.4, we can go back to ordinary
# pip install.
#
img2pdf @ git+https://gitlab.mister-muffin.de/josch/img2pdf.git@09064e8
