
<div data-blacklight-modal="container">
  <%= simple_form_for :feedback, url: feedback_oral_history_ai_conversation_path, method: :post, data: { blacklight_modal: "preserve"} do |f| %>

    <div class="modal-header">
      <h1 class="modal-title">Feedback on answer</h1>
      <button type="button" class="blacklight-modal-close btn-close" data-bl-dismiss="modal" aria-label="Close"></button>
    </div>




    <div class="modal-body max-readable-width-block">
      <%= f.input "rating", as: :range, required: false,
          label: "How useful was the answer to you?",
          default: 1,
          input_html: {
            class: 'star-rating',
            min: 1,
            max: 5,
            step: 1,
            style: "--value:0",
            value: 0,
            oninput:"this.style.setProperty('--value', `${this.valueAsNumber}`)" } %>

      <%= f.input "comment", as: :text,
          label: "Any other comments or feedback?",
          required: false,
          input_html: {
            rows: 3
          } %>
    </div>


    <div class="modal-footer">
      <button type="submit" class="btn btn-secondary">Send</button>
    </div>
  <% end %>
</div>

