<%= helpers.simple_form_for(model, data: {remote: true, auto_submit: true, dq_status_form: true, type: 'json'}) do |f| %>
  <div class="input-group input-group-sm flex-nowrap">
    <%= f.collection_select :status,
          model.available_statuses.collect {|s| [s.humanize, s]}, :second, :first, {},
          class: "form-control form-select"
    %>
    <%= f.button_button '<i class="fa fa-floppy-o fa-fw" aria-hidden="true" title="Save"></i><span class="visually-hidden">Save</span>'.html_safe,
      type: :submit,
      class: "btn btn-outline-secondary",
      data: {
        "disable-with": '<i class="fa fa-spinner fa-spin fa-fw" title="Saving..."></i><span class="visually-hidden">Saving...</span>',
        "submit-button": "true"
      } %>
  </div>
<% end %>
