<div class="on-page-work-downloads">

  <div class="on-page-work-downloads-item">
    <div class="image">
      <%= helpers.file_earmark_pdf_fill_svg %>
    </div>

    <div class="text">
        <a aria-hidden="true" tabindex="-1" href="#">
          Searchable PDF
        </a>

        <div class="hint">
          <small>may contain errors</small>
        </div>
    </div>

    <div class="action">
      <a class="btn btn-brand-main less-padding" href="#">Download</a>
    </div>
  </div>

  <div class="on-page-work-downloads-item">
    <div class="image">
      <%= helpers.file_earmark_zip_fill_svg %>
    </div>

    <div class="text">

        <a aria-hidden="true" tabindex="-1" href="#">
          ZIP
        </a>

        <div>
          <small>of full-sized JPGs</small>
        </div>
    </div>

    <div class="action" style="border-top: none; padding-right: 0;">
      <a class="btn btn-brand-main less-padding" href="#">Download</a>
    </div>
  </div>
</div>
