<h1>Digitization Queue Collecting Areas</h1>

<ul class="list-unstyled">
  <% Admin::DigitizationQueueItem::COLLECTING_AREAS.each do |area| %>
    <li>
      <h2>
        <%= link_to area.titleize, admin_digitization_queue_items_path(area) %>
        <small>(<%= @open_counts[area].to_i %> open)</small>
      </h2>
    </li>
  <% end %>
</ul>
