<%#  query constraint as a live search box/form allowing you to change query,
     instead of just a label %>

<form class="scihist-constraints-query applied-filter d-inline-block">
    <%# include all existing filters etc in the search that will be submitted
        with changed query text string, by using the component from Blacklight
        to include as hidden fields: %>
    <%= render Blacklight::HiddenSearchStateComponent.new(params: search_context_params) %>

    <div class="input-group input-group-sm">
      <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i><span class="visually-hidden">Search</span></span>

      <label class="visually-hidden" for="constraintsQueryInput">Query</label>
      <%= text_field_tag "q", current_search_q, placeholder: "Search within results", class: "form-control", id: "constraintsQueryInput" %>

      <button class="btn btn-primary" title="Search within results" aria-label="Search within results">
        Go
      </button>
      <% if current_search_q.present? %>
          <%= link_to(search_context_params,  { class:"btn btn-primary remove", title:"Remove" }) do %>
            <span class="remove-icon">✖</span><span class="visually-hidden">Remove query constraint '<%= current_search_q %>'</span>
          <% end %>
      <% end %>
    </div>
</form>

