
<div class="text-page">
  <h2>Use this software-powered research tool to <span class="emphasis-color">ask about</span> the contents of our <span class="emphasis-color">Oral History</span> collections</h2>

  <%= simple_form_for :"", url: oral_history_ai_conversation_index_path, method: :post do |f| %>
    <%= f.input :q, as: :text, label: "Question", hint: "\"List interviewees who…?\"; \"I'm looking for experiencies about…\"; \"Which scientists were…?\"", input_html: { rows: 3 } %>
    <div class="d-flex justify-content-end">
      <%= f.button :submit, "Ask", class: "btn btn-brand-main" %>
    </div>
  <% end %>
</div>
