
<div class="text-page">
  <h2>Use this software-powered research tool to <span class="emphasis-color">ask about</span> the contents of our <span class="emphasis-color">Oral History</span> collections</h2>

  <%= simple_form_for :"", url: oral_history_ai_conversation_index_path, method: :post do |f| %>
    <%= f.input :q, as: :text, label: "Question", hint: "\"List interviewees who…?\"; \"I'm looking for experiencies about…\"; \"Which scientists were…?\"", input_html: { rows: 3 } %>
    <div class="d-flex justify-content-end">
      <%= f.button :submit, "Ask", class: "btn btn-brand-main" %>
    </div>



    <div>
      <%= f.input :access_limit, as: :radio_buttons,
            collection: [
              ['immediate_ohms_only', 'Only those with synchronized audio (OHMS)'],
              ['immediate_only', 'Only those fully public (do not require request)'],
              ['immediate_or_automatic', 'Both fully public and those with automatically approved request'],
              ['', "All: Includes those which require request approval"]
            ],
            label_method: ->(item) { item[1].html_safe },
            value_method: ->(item) { item[0] },
            checked: '',
            label: "Which Oral Histories to consider in search" %>
    </div>

  <% end %>
</div>
