
<div class="text-page">
  <h2>Use this software-powered research tool to <span class="emphasis-color">ask about</span> the contents of our <span class="emphasis-color">Oral History</span> collections</h2>

  <%= simple_form_for :"", url: oral_history_ai_conversation_index_path, method: :post do |f| %>
    <%= f.input :q, as: :text, label: "Question", hint: "\"List interviewees who…?\"; \"I'm looking for experiencies about…\"; \"Which scientists were…?\"", input_html: { rows: 3 } %>
    <div class="d-flex justify-content-end">
      <%= f.button :submit, "Ask", class: "btn btn-brand-main" %>
    </div>

    <div>
      <%= f.input :collection_limit, as: :radio_buttons,
            collection: [
              ['ohms', '[OHMS-only] Only those with synchronized transcripts'],
              ['immediate', '[All open(?)] All open for access with no verification'],
              ['upon_request', '[semi-restricted(?) and up] Also include some that require a form to verify email address'],
              ['permission_required', "[restricted(?) and up] Also include those that requires permission to access, after filling out a form explaining use"]
            ],
            label_method: ->(item) { item[1].html_safe },
            value_method: ->(item) { item[0] },
            checked: 'permission_required',
            label: "Which Oral Histories to consider in search" %>
    </div>

  <% end %>
</div>
