
<div class="ai-conversation-banner">

  <div class="text-wrapper">
    <h1 class="brand-alt-h1">
      Bot-Assisted Oral History Search
    </h1>
  </div>
</div>

<div class="text-page">
  <p class="fs-4 mt-3">
    Find themes or topics discussed in our Oral History collections using this AI-powered software tool to identify passages from transcripts.
  </p>


<details class="mb-3">
  <summary class="text-link">Example prompts</summary>

  <ul class="text-muted mb-1 mt-1">
    <li>List interviewees who…</li>
    <li>I'm looking for experiencies about…</li>
    <li>Which interviewees…</li>
    <li>Is there any discussion of…</li>
    <li>Can you tell me about…</li>
  </ul>

  <span class="text-muted ms-3">Or just describe what you're interested in finding in your own words.</span>
</details>



  <%= simple_form_for :"", url: oral_history_ai_conversation_index_path, method: :post do |f| %>

    <%= f.text_area :q, class: "form-control text mb-3", data: { ai_conversation_q: true }, required: true, rows: 3 %>

    <div class="d-flex justify-content-end">
      <%= f.button :submit, "Ask", class: "btn btn-brand-main" %>
    </div>



    <div>
      <%= f.input :access_limit, as: :radio_buttons, required: false,
            collection: [
              ['immediate_ohms_only', "Only those with synchronized audio (OHMS) — #{@immediate_ohms_only_count}"],
              ['immediate_only', "Only those fully public (do not require request) — #{@immediate_only_count}"],
              ['immediate_or_automatic', "Both fully public and those with automatically approved request — #{@immediate_or_automatic_count}"],
              ['', "All: Includes those which require request approval — #{@all_count}"]
            ],
            label_method: ->(item) { item[1].html_safe },
            value_method: ->(item) { item[0] },
            checked: '',
            label: "Which Oral Histories to consider in search" %>
    </div>

  <% end %>
</div>
