<b>Science History Institute Oral Histories Collection</b>

<p>
  Someone, hopefully you, has requested Science History Institute oral histories to this email address.
</p>

<p><%= I18n.t("oral_history.sign_in_prompt") %>
    <%= link_to I18n.t("oral_history.sign_in_link_label"), login_magic_link, data: { auto_login_link: true}  %></p>

<p>Please keep this email around, so you can use this link to access your requests in the future.</p>

<p>If you have any questions, you can reply to this email, or write <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}" %>.<p>
