dl.admin-metadata {
  dd {
    @extend .ml-3;
  }
}

.admin-filter {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;

  label {
    display: block;
  }
  .custom-select {
    max-width: 10em;
    width: auto;
  }
}
