.scihist-attach-files {
  .attach-files-table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }

  .attach-files-table-size, .attach-files-table-remove {
    width: 100px;
  }
}
