dl.admin-metadata {
  dd {
    @extend .ml-3;
  }
}

.admin-filter {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;

  label {
    display: block;
  }
  .custom-select {
    max-width: 10em;
    width: auto;
  }
}

// try to avoid so many intra-paragraph line breaks in our hOCR text admin display
.admin-ocr-display {
  .ocr_line, .ocrx_word,  {
    display: inline;
  }
}
