<div class="nested-fields form-row">
  <div class="col-auto">
    <%= f.input :category, collection: Work::ExternalId::TYPE_VOCAB, include_blank: f.object.send(:category).blank?, label: false %>
  </div>
  <div class="col">
    <%= f.input :value, label: false %>
  </div>
  <div class="col-auto">
    <%= link_to_remove_association "remove task", f %>
  </div>
</div>
