<%# the rights logo and social media share buttons for a work show page

    Takes a `work` local param.
%>

<div class="rights-and-social">
  <% if work.rights.present? %>
    <%= render(RightsIconComponent.new(rights_id: work.rights)) %>
  <% else %>
    <%# hacky spacer to keep flexbox intact and social-media on the right even
        if there's no rights %>
    <div class="rights-placeholder"></div>
  <% end %>

  <%= render SocialShareComponent.new(work) %>
</div>
