<% if @lazy_member_images.present? %>
	<% @lazy_member_images.each_with_index do |member_for_thumb, index| %>
		<div class="show-member-list-item">
			<%= render MemberImageComponent.new(member_for_thumb.member, image_label: member_for_thumb.image_label) %>
		</div>
	<% end %>
	<span class="next-start-index"><%= @start_index + @images_per_page %></span>
	<%= tag.span('', class: "no-more-images") unless @more_pages_to_load %>
<% end %>
