<% if @lazy_member_images.present? %>
	<% @lazy_member_images.each_with_index do |member_for_thumb, index| %>
		<div class="show-member-list-item">
			<%= render MemberImageComponent.new(member_for_thumb.member, lazy: true, image_label: member_for_thumb.image_label) %>
		</div>
	<% end %>

  <% if @more_pages_to_load %>
    <%= render FetchMorePagesLinkComponent.new(start_index: @start_index, images_per_page: @images_per_page) %>
  <% end %>
<% end %>
