<% if @slice.present? %>
	<% @slice.each_with_index do |member_for_thumb, index| %>
		<%= render MemberImageComponent.new(
			member_for_thumb.member,
			lazy: false,
			image_label: member_for_thumb.image_label,
			containing_div_class: 'show-member-list-item'
		) %>
	<% end %>
	<span  style="display:none"> Next start index: 
		<span class="next-start-index"><%= @start_index + @images_per_page %></span>
	</span>
<% end %>
<% if @no_more_images %>
	<span class="no-more-images" style="display:none">No more images!</span>
<% end %>