nav.accept-cookies-banner-nav {
  display: none;
  min-height: 1px;
  padding: 0;
  align-items: stretch;
  background-color: white;
  div.i-accept-copy {
    border-top: 1px solid $table-border-color;
    line-height: 1.3;
    padding-top: 0.05rem;
    color: $text-muted;
  }
  div.i-accept-button-div {
    padding: 0;
    margin: 0;
    a.i-accept-link {
      display: block;
      color: white;
      background-color: $brand-red;
      &:hover { background-color: $brand-blue; }
      text-decoration: none;
      font-size: .9em;
      font-weight: 700;
      border: 0;
      white-space: nowrap;
      line-height: 3;

      /* hack: for 23 pixels of width, the text wraps to *four* lines. */
      @media only screen and (min-width: 767px) and (max-width: 790px){
        line-height: 6 !important;
      }

      @include media-breakpoint-between(md, lg) {
         line-height: 5;
      }
      @include media-breakpoint-between(xs, sm) {
        margin-top:0.5rem;
      }
    }
  }
}