$collection-index-box-width: 266px;
$collection-index-box-height: 266px;
$collection-index-box-margin: 17px;

.collections-index {

  .collections-index-title {
    text-align: center;
    @extend .mt-3;
    @extend .mb-3;
  }

  .show-item-count {
    @extend %text-font-numerals;
    font-variant-numeric: lining-nums;
  }

  // this is meant to look like search results, although we end up using
  // different styles becuase our CSS is a bit out of control.
  .collections-index-list {
    .collection {
      @media (min-width: breakpoint-min('sm')) {
        display: flex;
        .members-count {
          text-align: right;
        }
      }

      justify-content: center;
      margin-bottom: 2.8125rem;

      .collection-thumb {
        order: 1;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 2rem;
        margin-bottom: 2rem;
      }
      .collection-thumb-img {
        display: block;
        width: $standard-thumb-width; //$collection-index-box-width;
        height: $standard-thumb-width; //$collection-index-box-height;
      }
      .members-count {
        @extend %special-label;
        margin-top: .25rem;
      }
      .collection-desc {
        order: 2;
        width: $max-readable-width;
        flex-shrink: 2;
        .collection-title  {
          @include font-size($h3-font-size);
          a { color: $brand-dark-blue; }
        }
      }
    }
  }
}

.collection-show-media {
  img {
    max-width: 100%;
  }
}
