
.collection-show {
  margin-left: auto;
  margin-right: auto;

  .collection-top {
    a.title-link {
      color: inherit; // underline is enough, the bright blue is too much
    }

    .collection-thumb {
      float: right;

      width: 266px;
      margin-left: 3rem;
      margin-bottom: $spacer;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }


  .collection-main-links {
    display: flex;
    flex: wrap;
    gap: $paragraph-spacer ($paragraph_spacer * 4);
    margin-bottom: 2rem;

    .collection-main-link {
      @include font-size($h4-font-size);
    }
  }

  .collection-related-links {
    display: flex;
    flex: wrap;
    gap: $paragraph-spacer ($paragraph_spacer * 4);
  }

  .chf-attributes > tbody >tr:first-child td, .chf-attributes > tbody > tr:first-child th {
    border-top: 0; // nope, not here.
  }

  // contains the search form and the funding_credit info which is sometimes next to it
  .collection-control-area {

    .collection-search-form {
      margin: $spacer 0;
      padding: ($spacer);
      background-color: $bg-lightly-shaded;
      display: inline-block;

      width: 100%;
      max-width: $max-readable-width;

      .search-title {
        font-size: $h4-font-size;
        margin-bottom: $spacer;
        font-weight: 600;
      }

      .input-group {;
        // hacky way to have extra rounded corners on search box, matching
        // nav bar search box.
        input[type=search] {
          border-top-left-radius: $btn-border-radius;
          border-bottom-left-radius: $btn-border-radius;
        }
        button:last-child {
          border-top-right-radius: $btn-border-radius;
          border-bottom-right-radius: $btn-border-radius;
        }
      }
    }

    .collection-funding-credit {
      margin: $spacer 0;

      @extend .long-text-line-height;
      display: flex;

      .funding-credit-image {
        // square image, have to set this explicitly for our aspect ratio
        // trick for larger screensize below.
        height: 7rem;
        width: 7rem;
        margin-right: map_get($spacers, 2);;
      }
    }

    // two-column with funding-credit on RIGHT on larger screens, this
    // works out as a reasonable breakpoint for it.
    @include media-breakpoint-up(lg) {
      display: flex;

      .collection-funding-credit {
        order: 2;
        margin-left: $spacer;
        .funding-credit-image {
          // We want to say stretch to 100% height while preserving aspect ratio,
          // but we need to support older browsers thatdon't do aspect-ratio CSS
          // property yet... this manages to do the right thing on newer browsers
          // with a reasonable fallback (no image resize at all) on older browsers.
          height: 100%;
          width: auto;
          object-fit: contain;
          object-position: 0 0;

          max-height: 10rem;
        }
      }
    }
  }

  #appliedParams.constraints-container {
    // undo negatie margin from when it's meant to be at top of page, messy.
    margin-top: 0;
  }
}
