.deai-footer {
  padding-top: ($paragraph-font-size * $paragraph-line-height-long / 2) !important; // matches paragraph margin bottom please
  padding-left: 1rem;
  padding-right: 1rem;


  color: #050939;

  background-color: $brand-light-grey;

  p {

    max-width: 800px !important; // intended to match site footer, specifically .footeraddress
    text-align: justify;
    margin-left: auto;
    margin-right: auto;


  }
}
