.admin-edit {
  max-width: 800px;

  label, legend {
    &.form-control-label, &.col-form-label {
      @extend .h5;
    }
  }

  .form-inputs > .form-group {
    @extend .mb-4;
  }

  // a column for a select box in category-and-value, or label in sub-labelled models.
  // make everything line up.
  .col-left {
    @extend .col-sm-5, .col-md-4;

    &.col-form-label {
      text-align: right;
    }
  }

  .repeatable-add-link {
    text-align: right;
  }

  .input-primitive {
    @extend .mb-2;
  }

  // Give em a red bar alongside for visibility. Only top-level.
  .form-inputs > .form-group.form-group-invalid {
    border-left: 2px solid $danger;
    padding-left: 8px;
    margin-left: -11px;
  }
}


