// the site wide Science History Institute footer
#footer {
  background-color: $dark;
  background-image: asset-url('scihist_foot_sym.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 40px 20px 44px 20px;

  .footer-title {
    font-family: $brand-serif;
    font-size: 2.125rem; // 34px if 1rem == 16px
    margin: 0 0 1.25rem 0;
    padding: 0;
    line-height: normal;

    @include media-breakpoint-down(md) {
      font-size: 1.625rem; // 26px if 1rem == 16px
    }

    &>a {
      color: white;
      &:hover, &:active, &:focus {
        color: $brand-bright-green;
        text-decoration: none;
      }
    }
  }

  .footerrow {
    text-align: center;
  }

  .footeraddresses {
    color: $brand-bright-green;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    font-weight: 300;

    a:hover, a:focus {
      color: white;
    }

    // dunno, ask communications
    .fa-map-marker {
      color: $brand-bright-green;
    }

    div {
      margin: 20px;
    }
  }

  .footersocialicons {
    margin: 20px auto;
    max-width: 530px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .footersocialicon {
      color: #1fbaf4;
      font-size: 24px;

      a, a:link, a:visited, a:hover, a:active {
        color: $primary;
        text-decoration: none;
        transition-property: color;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        transition-delay: initial;
      }
    }
  }

  .footerprivacycopyright {
    color: $brand-bright-green;
    font-size: 12px;
    a, a:link, a:visited, a:hover, a:active {
      color: $brand-bright-green;
      text-decoration: none;
    }
  }

}

$accept-cookies-banner-container-height: 2.8125rem;

nav.accept-cookies-banner-nav {
  min-height: 1px;
  background-color: white;
  border: 0;
  padding: 0;
  div#accept-cookies-banner-container {
    margin: 0;
    padding-right: 0;
    background-color: white;
    div.accept-cookies-row {
      div.i-accept-copy {
        line-height: 1.42857143;
        padding-top: 0.05rem;
        color: $text-muted;
        background-color: white;
      }
      div.i-accept-div {
        height: $accept-cookies-banner-container-height;
        padding-left: 0;
      }
      a.i-accept-link {
        display: block;
        height: $accept-cookies-banner-container-height + 1;
        width: 100%;
        border: 0;
        padding-top: 0.75rem;
        white-space: nowrap;
        color: white;
        background-color: $brand-red;
        &:hover { background-color: $brand-blue; }
        text-decoration: none;
        font-size: .9em;
        font-weight: 700;
      }
    }
  }
}
