.blacklight-homepage {
    .row {
        background-color: purple;
    }

    #masthead {
        margin-bottom: 0 !important;
    }

    #mainContainer {
        max-width: initial !important;
        padding-left: 0    !important;
        padding-right: 0   !important;
    }
}
