.blacklight-homepage {
    #masthead {
        margin-bottom: 0 !important;
    }

    #mainContainer {
        max-width: initial !important;
        padding-left: 0    !important;
        padding-right: 0   !important;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    figure.hero-image {
        position: relative; /* allow absolute positioning of caption */
        padding-left: 0; /* overcome the padding on grid columns */
        padding-right: 0; /* overcome the padding on grid columns */
        margin-bottom: 0;
        img {
          width: 100%;
        }
        figcaption {
          position: absolute;
          bottom: 0;
          right: 0;
          background: $transparent-background;
          padding: 0.3125rem 0.625rem;
          @include all-white-links;
          font-weight: 300;
          font-style: italic;
        }
    }

    .digital-description {
        .pre-heading {
          @extend %special-label;
          color: $special-label-muted-color;
          margin-bottom: 0.1875rem;
          margin-top: 1.5rem;
        }

        h2 {
          margin-top: 0;
        }
    }

    .search-container {
        padding-left: 1.25rem  !important;
        padding-right: 1.25rem !important;
    }
    /* @media (min-width: $screen-md-min) { */
    /* $screen-md-min: 992px; */
    @include media-breakpoint-up(lg) {
        .home-right-column {
            // crazy way to keep .search-container vertically centered
            $hero-aspect-ratio: 1.366; // w divided by height of hero image in left column
            // width of hero image (col-md-5) is 6/12. Make that expressed in vw, for screen width.
            // Then Divided by aspect ratio is it's height.
            // make this height the same. But account for ~20px scrollbar on some browser/OS.
            height: calc(((600vw / 12) - 1.25rem) / #{$hero-aspect-ratio});
            display: flex;
            flex-direction: column;
            justify-content: center;

            .search-container {
                max-width: 38em; // keep the lines from going too long on big screens
                min-height: 70%;
                // and then center it.
                margin-left: auto;
                margin-right: auto;
                .pre-heading  {
                    margin-top: 0;
                }
            }
        }
    }

    .search-callouts {
        .input-group {
            min-height: 2.875rem;
            input.q, button {
                min-height: 2.875rem;
            }
        }
        /* @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { */
        /* $screen-sm-max: 992px; $screen-sm-min: 768px; */
        @include media-breakpoint-only(md) {
            /* vertically line up with header when side-by-side */
            /* stacks with searchbar margin to equal 20 */
            margin-top: 1.75rem;
        }
    }

    $recent-items-box-width: 8.75rem;
    $recent-items-box-height: 8.75rem;
    $recent-items-box-margin: 1.875rem;

    .recent-items-title_div {
      padding-left: 0.9375rem;
      background-color: $brand-light-grey;
      margin-bottom: 0;
      h2 {
        margin-bottom:0;
      }
    }

    .recent-items-title_div {
        padding-top: 0.9375rem;
    }

    .recent-items-list {
        background-color: $brand-light-grey;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        padding-top: 0.9375rem;
        padding-bottom: 1.875rem;

        .recent-item {
            float:left;
            position: relative;
            width: $recent-items-box-width;
            min-width: $recent-items-box-width;
            height: $recent-items-box-height;
            margin: $recent-items-box-margin;
            overflow: hidden;
            margin: 0;

            .recent-item-image-matte {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $brand-dark-grey;
            }

            .recent-items-image {
                width: 100%;
            }
            .recent-item-title-wrapper {
                display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                color: $brand-dark-blue;
                background-color: rgba(0, 0, 0, 0.7);

                .recent-item-title {
                    font-family: "adelle-sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
                    color: white;
                    opacity: 1.0;
                    text-align: center;
                    font-weight: $semi-bold-weight;
                    line-height: 1rem;
                    font-size: 0.75rem;
                    margin-bottom: 0;
                }
            }
        }
    }

    $featured-topics-box-width: 21.875rem;
    $featured-topics-box-height: 21.875rem;
    $featured-topics-box-margin: 3.6875rem;


    .featured-topics-title-div {
        padding-top: 0.9375rem;
        padding-left: 2.125rem;
        background-color: $brand-dark-grey;
        h2 {
            margin-bottom:0;
        }
    }

    .featured-topics-list {
        background-color: $brand-dark-grey;
        padding-top: 2.125rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .featured-topic {
            position: relative;
            width: $featured-topics-box-width;
            min-width: $featured-topics-box-width;
            height: $featured-topics-box-height;
            margin: $featured-topics-box-margin;

            @media (max-width: $featured-topics-box-width) {
                width: 100vw;
                min-width: auto;
                height: 100vw;
                margin: $featured-topics-box-margin 0;
            }

            .featured-topic-title-wrapper {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3.5rem;
                color: $brand-dark-blue;
                background-color: $brand-bright-green;
                padding: 0.625rem;

                .featured-topic-title {
                    text-align: center;
                    font-weight: $semi-bold-weight;
                    text-transform: uppercase;
                    font-size: 1.125rem;
                    padding-top: 0.3125rem;
                    padding-bottom: 0.3125rem;
                    font-family: $brand-sans-serif;
                    line-height: 1.4285;
                }
            }
        }
    }


    /* start feat coll */

    .featured-collection-callouts{
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        padding-top: 0.9375rem;
        padding-bottom: 1.875rem;
    }

    @include media-breakpoint-only(md) {
        .featured-collection-callouts {
            margin-top: 1.875rem;
        }
    }

    @include media-breakpoint-up(md) {
        .featured-collection-container {
            background-color: white;
            display: flex;
            align-items: center;
            .featured-collection-callouts {
                margin-left: 10%;
                margin-right: 2%;
                h2 {
                    margin-top: 0;
                }
            }
        }
    }
    .featured-collection-image {
        padding: 0;
        .featured-collection-matte {
            position: relative;
            img {
                width: 100%;
            }
            figure {
                margin-bottom: 0;
            }
            figcaption {
                position: absolute;
                bottom: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.25);
                padding: 0.3125rem 1.5625rem;
                font-weight: 300;
                font-style: italic;
                a {
                    color: white;
                    text-decoration: none;
                    opacity: 1;
                }
            }
        }
    }
    .chf-callout-button {
        width: 100%;
        text-transform: uppercase;
        border-radius: 0;
        letter-spacing: 0.04em;
        margin-bottom: 1.5625rem;
        // unlike normal btns, normally it's full width, but if screen is so small
        // it needs to, it should break.
        white-space: initial;
        border-radius: 2px;
    }
}