// Uses a "hack" to have a container around an image to fixes the aspect ratio of the img tag.
// We use it for lazy-loaded images, so they can take up the correct amount of space on the
// page even before they are loaded, avoiding page reflow.
//
// The .img-aspectratio-container is expected to have an inline style to set `padding-bottom`
// to proper aspect ratio value, to make this work.
//
// For background, see:
// * http://davidecalignano.it/lazy-loading-with-responsive-images-and-unknown-height/
// * https://alistapart.com/article/creating-intrinsic-ratios-for-video/
// * https://www.bram.us/2017/06/16/aspect-ratios-in-css-are-a-hack/
.img-aspectratio-container {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// if it's in a figure, let's treat it as a figure-img
.figure .img-aspectratio-container {
  @extend .figure-img;
}
