// doing our best to make table row while dragging look okay, esp hard cause
// it's a 'tr' outside of a table, which isn't really a thing.

.member-list .draggable-mirror {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: $table-border-width solid $table-border-color;

  display: flex;
  & td {
    flex-grow: 1;
  }
}

.while-sorting-actions {
  display: none;
}

.sorting {
  tbody tr {
    cursor: move;
  }
  .sort-actions {
    display: none;
  }
  .while-sorting-actions {
    display: block;
  }
}


