.ohms-speaker {
  font-weight: bold;
  @extend %special-label;
  color: $brand-dark-blue;
}

// make room for and position the timecode links
// This is more or less how standard OHMS viewer does it.
.ohms-transcript-container {
  position: relative;
  padding-left: 5.5em;

  .ohms-transcript-paragraph {
    .ohms-transcript-timestamp {
      font-family: $brand-sans-serif;
      position: absolute;
      left: 0;
    }
  }
}

.ohms-index-container {
   // based on scihist-results-list-values, see there.
  ul.ohms-index-list {
    margin-top: $paragraph-spacer;
    @extend .ml-4;

    li {
      @extend %text-font;
      margin-bottom: $paragraph-spacer;

      .attribute-label {
        @extend %special-label;
        margin-right: 0.66em;
        font-weight: bold;
        color: $brand-dark-blue;
      }
    }
  }
}
