.show-page-audio-playlist-wrapper {
  margin-bottom: 2.25em;

  li.dropdown-divider {
    display: none;
  }

  h2.attribute-sub-head {
    margin-top: 0; // kinda ugly override sorry
    padding-top: 0;
  }

  .show-sub-head-body {
    // sorry for evil overrides of re-used class, we want the horizontal
    // edges to line up with hero thumb below, not sure why padding was there normally.
    padding-left: 0;
    padding-right: 0;
  }


  .now-playing-container {
    margin-bottom: $paragraph-spacer;
  }

  .now-playing-info {
    margin-bottom: $paragraph-spacer;
    text-align: center;
    @extend %text-font;
  }

  audio {
    width: 100%;
  }


  .track-listing {
    display: flex;

    @extend %text-font;

    .play-link {
      flex-grow: 1;
      padding: 0.3125rem;
    }

    .private-badge-div {
      font-family: $brand-sans-serif;
      cursor: pointer;
      margin-top: 0.25rem;
      margin-right: 0.25rem;
      .badge-warning {
        border-radius: 0;
      }
    }

    div.dropdown {
      padding-top: 0.3125rem;
      .download-link {
        i.fa-download {
          display:none;
        }
        font-family: $brand-sans-serif;
        white-space: nowrap;
        padding-right: 0.3125rem;
      }
    }
    &.currently-selected {
      background-color: $brand-bright-green;
      color: $brand-dark-blue;
      a.play-link,
      a.play-link:link,
      a.play-link:visited,
      a.play-link:hover,
      a.play-link:active,
      div.dropdown a.download-link {
        color: $brand-dark-blue;
      }
    }
    .download-menu {
      font-family: $brand-sans-serif;
    }
  }
}
