// Our branded logo'd large navbar/masthead
//
// We use lots of flexbox, a flexbox inside a flexbox. Tested in FF, Chrome, Safari,
// IE 11, and Edge. Likely doens't work in IE < 11 (IE10 is EOL).
.masthead {
  .large-masthead-only {
    display: none;
  }
  @include media-breakpoint-up('md') {
    .large-masthead-only {
      display: block;
    }
    .small-masthead-only {
      display: none;
    }
  }

  padding: 16px 47px 0 32px;
  margin-bottom: $navbar-margin-bottom;

  background-image: asset-url('scihist_top_nav_sym.png');
  background-repeat: no-repeat;
  background-position: right top;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  border-bottom: $dark 1px; // match chf_sufia, had an invisible border

  .navbar-collapse {
    max-width: 55%;
    flex-basis: 100%; // seems screwy, but makes IE 11 happy whem combined with max-width:55% doesn't seem to disturb anyone else
  }

  .masthead-title {
    font-family: $brand-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: normal;
    &>a {
      color: white;
      &:hover, &:active, &:focus {
        color: $brand-bright-green;
        text-decoration: none;
      }
    }
    color: white;
    &.small-masthead-only {
      font-size: 18px;
      //line-height: $small-logo-height + 8px + 8px;
      text-align: center;
    }
  }

  .masthead-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .navbar-nav {
    font-weight: 300;
    .nav-link {
      padding: 14px 15px;
    }
    .navbar-item:last-child .nav-link {
      padding-right: 0;
    }
  }

  .navbar-toggler {
    color: white;
    margin-right: 15px;
    border-color: #333;
  }


  $small-logo-height: 40px;
  .masthead-logo-small {
    height: $small-logo-height;
    margin: 0 0 8px 0; // logo is meant to butt against edge
  }

  // small navbar
  @include media-breakpoint-down('sm') {
    background-image: none;
    padding: 0;
    .navbar-collapse {
      max-width: none;
    }
    .navbar-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .masthead-right {
      border-top: white 1px solid;
    }
    .masthead-right {
      display: block;
    }
    .navbar-nav .nav-link {
      padding: 10px 15px;
    }
  }
}

// management-only top bar
.navbar.topbar {
  background-color: $gray-200;
  padding-top: 0;
  padding-bottom: 0;
  .nav-item:not(:last-child) {
    margin-right: $spacer;
  }
}
