.work-show-audio {

  .now-playing-container {
    position: sticky;
    top: 0.5rem;
    z-index: 1;

    margin-top: 2rem;

    background-color: $brand-dark-grey;
    color: white;
    padding: 1rem;

    audio {
      width: 100%;
      margin-top: $paragraph-margin-bottom;
    }
  }

  .col-files {
    padding-right: 36px;
  }

  .sound-file-header {
    border-bottom: $table-border-width solid $table-border-color;
  }

  .track-listings {
    td > a {
      padding: $table-cell-padding;
    }

    td {
      vertical-align: middle;
    }

    .icon {
      font-size: 150%;
    }

    .track-listing {
      width: 100%;
      .play-link {
        display: block;
      }
    }

    .currently-selected {
      background-color: $brand-bright-green;
      color: $brand-dark-blue;
      a.play-link,
      a.play-link:link,
      a.play-link:visited,
      a.play-link:hover,
      a.play-link:active,
      div.dropdown a.download-link {
        color: $brand-dark-blue;
      }
    }
  }

  .other-files {
    .show-member-list-item {
      .image {
        padding-left: 0;
      }
      .title {
        width: 100%;
      }
      .action {
        padding-right: 0;
      }
    }
  }

  .work.chf-attributes {
    border-top: 0;
  }
}
