.work-show-audio {

  .audio-navbar {
    position: sticky;
    top: 0;
    z-index: 1;

    background-color: $brand-dark-grey;
    color: white;
    // material-design-like shadow, sorry we're just hacking it un-DRY.
    // https://stackoverflow.com/questions/30533055/calculating-shadow-values-for-all-material-design-elevations
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    // Make it go to full viewport width, even though it's parent is constrained
    // with padding to match bootstrap grid.
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    @include media-breakpoint-up(md) {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }

    .audio-navbar-contents {
      // keep navbar contents the same width as our general contents,
      // within the full-viewport background-color of the navbar.
      // Calc needed for convoluted reasons trying to mimic bootstrap grid poorly. :(
      max-width: calc(#{$main-container-max-width} - 30px);
      margin-right: auto;
      margin-left: auto;
      @extend .col-md-12;


      display: flex;
      flex-wrap: wrap;

      .now-playing-container {
        // as an element in it's parent flex
        flex-basis: 66%;
        flex-grow: 2;

        //as a flex container for it's contents, an audio player (or error message),
        //and a tab list.
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
          padding: 0 1rem 0 0;
        }

        audio {
          width: 100%;
          margin-top: $paragraph-margin-bottom;
        }
      }

      .ohms-nav-tabs {
        margin-top: $paragraph-spacer;

        // override style like a link, with colors we want, material design inspired tab style.
        .btn-emphasis {
          border-radius: 0;
          border: 0;
          &:not(.active):not(:hover):not(:focus) {
            background-color: transparent;
            color: $brand-bright-green
          }
          &.active {
            background-color: transparent;
            color: white;
            border-bottom: 3px solid white;
          }
        }
        // crazy CSS to try to make the tabs horizontally scroll properly
        // on small screens
        @include media-breakpoint-down(sm) {
          flex-wrap: nowrap;
          white-space: nowrap;
          overflow-y: auto;
          margin-left: -15px;
          margin-right: -15px;
          padding-left: 15px;
          padding-right: 15px;
          max-width: 100vw;
        }
      }

      .ohms-search {
        flex-basis: 100%;
        align-self: self-start;

        order: -1;

        @include media-breakpoint-up(lg) {
          // when we're two column, fit this next to player
          flex-basis: 33%;
          flex-grow: 1;
          order: 0;
        }

        border-radius: $border-radius;
        border: 0px;
        padding: 0.66rem;
        margin: 0.33rem 0;

        background-color: white;
        color: black;

        .search-heading {
          margin-bottom: 0;

          a {
            color: $brand-dark-blue;

            //make appropriate toggle icon show up for state
            .fa-caret-right.toggle-icon {
              display: none;
            }
            &.collapsed {
              .fa-caret-right.toggle-icon {
                display: inline-block;
              }
              .fa-caret-down.toggle-icon {
                display: none;
              }
            }
          }
        }

        form {
          margin-top: $headings-margin-bottom;
        }
      }

      .ohms-search-results {
        padding-top: ($paragraph-spacer / 2);

        .search-mode {
          text-transform: uppercase;
          letter-spacing: 0.035em;
        }

        .ohms-no-results {
          margin-top: ($paragraph-spacer / 2);
          color: $brand-red;
        }

        .ohms-result-navigation {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          strong {
            font-weight: 600;
          }
        }

        ol {
          @extend %text-font-numerals;
          list-style-position: inside;
          padding-left: 0;

          margin-top: ($paragraph-spacer / 2);
          margin-bottom: 0;
        }
        a {
          color: $body-color;
        }
      }
    }
  }

  .bottom {
    padding-top: 2rem;
  }

  // hackily little bit less whitespace on top
  .rights-and-social {
    .rights-statement, .social-media {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }

  .tab-content {
    // hacky, match attribute-table width
    max-width: ($max-readable-width / 0.67);
  }

  // When we're two column, add more spacer than default
  @include media-breakpoint-up(lg) {
    .col-files {
      padding-right: 36px;
    }
  }

  .sound-file-header {
    margin-top: 0;
  }

  .track-listings {
    border-top: 3px solid $table-border-color;

   .track-listing {
      display: flex;
      align-items: center;

      border-top: $table-border-width solid $table-border-color;

      &>  div > a, & > div .dropdown-toggle {
        padding: $table-cell-padding;
      }

      .title {
        flex-grow: 1;
        .play-link {
          display: block;
        }
      }
    }

    .icon {
      font-size: 150%;
    }

    .title {
      overflow-wrap: anywhere;
      word-break: break-word;
    }

  }

  .other-files {
    border-top: 3px solid $table-border-color;

    .show-member-list-item {
      display: flex;

      & > div {
        padding: $table-cell-padding;
        border-top: $table-border-width solid $table-border-color;
      }

      .image {
        padding-left: 0;
      }

      .title {
        flex-grow: 1;
        width: 100%;
        word-break: break-word;
      }
    }
  }

  .work.chf-attributes {
    border-top: 0;
  }
}

.ohms-highlight {
  background-color: $brand-red;
  color: white;
  padding-left: .1em;
  padding-right: .1em;
}

.ohms-speaker {
  font-weight: bold;
  @extend %special-label;
  color: $brand-dark-blue;
}

// make room for and position the timecode links
// This is more or less how standard OHMS viewer does it.
.ohms-transcript-container {
  position: relative;
  padding-left: 5.5em;

  .ohms-transcript-paragraph {
    .ohms-transcript-timestamp {
      font-family: $brand-sans-serif;
      position: absolute;
      left: 0;
    }
  }
}

.ohms-index-container {
  max-width: $long-max-readable-width;
  padding-bottom: 1.5rem;

  // based on scihist-results-list-values, see there.
  div.ohms-index-list {
    margin-top: $paragraph-spacer;
    max-width: $max-readable-width;

    @extend %text-font;

    p {
      margin-bottom: $paragraph-spacer * 2;
    }

    p.attribute {
      padding-left: 0.66em;
      text-indent: -0.66em;

      .attribute-label {
        @extend %special-label;
        margin-right: 0.66em;
        font-weight: bold;
        color: $brand-dark-blue;
      }
    }

    .keywords {
      font-family: $font-family-sans-serif;
      .badge {
        // for some reason text-indent we used for hanging indent
        // is being inherited, we have to stop it!
        text-indent: initial;
      }
    }
  }
}
