// Some general site-wide typography settings.
//
// This page in chf_sufia included sidebar/content styling for .chf-container-fluid,
// but we'll put that in a separate file.

h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  color: $brand-dark-blue;
}


// We set more-rounded corners, but only for buttons not input elements,
// make sure buttons in input groups match original less rounded.
.input-group .btn {
  border-radius: $border-radius;
}

// fade on color change on hover, matches style on www.sciencehistory.org.
a {
  transition: color 0.25s ease;
}

/* informational dls, as on faq, policy page, give them more space */
dl.info {
  dt {
    margin-top: 1em;
  }
  dd {
    margin-top: .25em;
  }
}

form label {
  font-weight: $semi-bold-weight;
}

// chemheritage.org uses these as default/standard h1-h6, but we're not
// ready to there yet, keep them in classes.
.brand-alt-h1, .brand-alt-h2, .brand-alt-h3, .brand-alt-h4, .brand-alt-h5, .brand-alt-h6 {
  font-family: $brand-alt-header-font;
  font-weight: $brand-alt-header-weight;
}
.brand-alt-h4, .brand-alt-h5, .brand-alt-h6 {
  font-weight: 600;
}

hr.brand {
  width: 65px;
  height: 3px;
  background-color: $primary;
  border: none;
  margin-top: 3em;
  margin-bottom: 3em;
}


// meant to be on a font-awesome icon
.social-media-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%; // make circles

  height: 2.25rem;
  width: 2.25rem;
  padding: 0;
  margin: 0;
  margin-top: 0.25rem; // 4px at 16px 1rem. i dunno, lines up with rights now

  font-size: 1.625rem; // 26px if 16px is 1rem
  line-height: 0;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  // &.facebook {
  //   background-color: #3b5998;
  // }
  // &.twitter {
  //   background-color: #1da1f2;
  // }
  // &.google-plus {
  //   background-color: #dd4b39;
  // }
  // &.tumblr {
  //   background-color: #35465c;
  // }

}

.download-menu {
  .dropdown-header {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
  }
  a.dropdown-item {
    color: $link-color;
  }
  .dropdown-item small {
    font-size: 87%;
    color: $text-muted;
    margin-left: 8px;
    font-weight: 100;
  }
}

// In new branding, we use the serif as body text, but leave the sans serif as default font for all the controls,
// just explicitly set it in certain places, restricted to a parent class cause it kind of messes up
// admin screens.
//
// We set 'p' tags within a .branded-body-font -- with some exceptions -- to use our serif font, and have
// appropriate max-width and spacer for that font.
.branded-body-font, .scihist-main-layout {
  p:not(.collection-title):not(.sans-serif), dl:not(.sans-serif) dd, table:not(.sans-serif) td, table:not(.sans-serif) th, .serif {
    @extend %text-font;
    // super hacky sorry. :(
    .btn {
      font-family: $brand-sans-serif;
    }
  }
  p:not(.collection-title):not(.sans-serif) {
    // try to keep this readable, abril is particularly hard on long line lengths
    max-width: $max-readable-width;
    // and could use some more spacing, normally in bootstrap $line-height-computed / 2
    margin-bottom: $paragraph-spacer;
  }

  // Longer text passages in our serif Abril font really need bigger line-height.
  // For legacy reasons we have to do this as an !important override.
  //
  // p inside a div.long-text-line-height, or a p.long-text-line-height itself.
  .long-text-line-height p, p.long-text-line-height {
    line-height: $paragraph-line-height-long !important;
    margin-bottom: ($paragraph-font-size * $paragraph-line-height-long / 2) !important;
  }
}

.text-page {
  max-width: $max-readable-width;
  margin-right: auto;
  margin-left: auto;
  p, dd, dt {
    line-height: $paragraph-line-height-long !important;
    margin-bottom: ($paragraph-line-height-long / 2) !important;
    max-width: $max-readable-width;
  }
}

.popover-citation-help {
  background-color: $brand-dark-grey;

  .popover-body {
    font-weight: 300;
    color: white;
  }

  .arrow:after {
    border-bottom-color: $brand-dark-grey !important;
  }
  a {
    color: $brand-bright-green;
  }
}

// bootstrap override
.label {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: $small-caps-letter-spacing;
}

.panel-default {
  border-left-color: $brand-light-grey;
  border-right-color: $brand-light-grey;
}

// Some custom overrides to bootstrap accordion style, to make it brand-specific
// based on styles found at: https://www.sciencehistory.org/accessibility
//
// We're not gonna make all accordions like that, maybe messing up existing standard stuff,
// but instead a custom override class.

.scihist-accordion {
  .card {
    border: 2px solid $card-border-color;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;


    .card-header {
      background-color: initial;
      border-bottom: 0;

      button, a {
        display: block;
        width: 100%;
        text-align: left;
        color: $brand-dark-blue;
        font-weight: bold;

        padding-left: 0;
        padding-right: 0;

        .toggle-icon {
          line-height: 1.5; // for some reason makes it line up better
        }

        // make only plus or minus show up according to state
        .fa-plus.toggle-icon {
          display: none;
        }
        &.collapsed {
          .fa-plus.toggle-icon {
            display: inline-block;
          }
          .fa-minus.toggle-icon {
            display: none;
          }
        }
      }
    }

    .card-body {
      margin: 0;
      padding-top: 0;
      //margin-top: 0;
      //padding: 0 $btn-padding-x;
    }
  }
}
