.work-show {
  .show-title {
    margin-bottom: $paragraph-spacer;
    h1 {
      margin-bottom: 0;
    }
  }

  .additional-titles, .part-of {
    margin-bottom: 0;
    &, h2 {
      font-family: $brand-alt-header-font;
      font-weight: normal;
      @extend h3;
      margin-bottom: 0;
      margin-top: 0;
    }
    li {
      margin-top: $paragraph-spacer / 2;
    }
  }

  .show-date {
    @extend %text-font-numerals;
    ul {
      @extend .list-unstyled;
      margin-bottom: 0;
    }
    margin-top: $paragraph-spacer;
  }

  .work-description p {
    max-width: $max-readable-width;
  }

  // matches the attribute table, although it's not really a table.
  .show-sub-head-body {
    border-top: 3px solid $table-border-color;
    padding: $table-cell-padding-sm;
    margin-left: -1 * $table-cell-padding-sm;
    margin-bottom: 1rem;
  }
  .citation {
      line-height: 1.5 !important;
      word-break: break-word;
  }

  .rights-and-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: (.6875rem) 0;


    .rights-statement.large, .social-media {
      padding: 0;
      margin-bottom: $paragraph-spacer;
    }

    .rights-statement.large {
      margin-right: $spacer;
    }

    .social-media {
      padding-top: 12px;
    }
  }

  .related-work {
    display: flex;
    flex-wrap: wrap;
    margin-top: $paragraph-spacer;
    margin-bottom: $paragraph-spacer * 2;
    .related-work-thumb {
      width: 6.75rem;
      flex-shrink: 0;
      padding-right: $paragraph-spacer;
      img {
        width: 100%;
      }
    }
    .related-work-text {
      flex: 1;
      align-self: flex-end;
      min-width: 10rem;
      @extend .h4;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // The "member image presentation" is a graphical component with a thumb, and action buttons -- usually view/download,
  // sometimes info. It is generated by the MemberImagePresentation view model class.
  .member-image-presentation {
    position: relative;

    .thumb > a {
      display: block;
    }
    .thumb img {
      cursor: zoom-in;
      max-width: 100%;

      &.lazyload, &.lazyloading {
        background: #AAA asset-url('static-progress.svg') no-repeat;
        background-position: center center;
        background-size: 50%;
      }
      min-height: 50px; // just so it's something big enough to see! Will distort very wide images.

      // sanity max-height to keep keep crazy long aspect ratio images from
      // totally ruining page. Very difficult to get this right based on
      // aspect ratio, cause the dimensions are so responsive. This is just
      // a rough huge limit, if it's not working out just delete this and give up.
      max-height: 300vw;

      // inline-block may be neccesary to get JS aspectratio setting to work
      display: inline-block;
    }

    // A div of btn's
    .action-item-bar {
      display: flex;
      width: 100%;
      margin-top: 0.25rem;

      .action-item {
        // Not sure why, but this makes it all display okay. The bootstrap
        // dropdown docs sometimes show a dropdown as a single btn in a btn-group.
        // We use it to wrap individual buttons or dropdowns in our action item bar.
        @extend .btn-group;

        width: 100%;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 0;

        &:not(:last-child) {
          margin-right: 0.25rem;
        }

        &.downloads .dropdown-toggle:after {
          // We want to hide the caret icon that bootstrap puts in, maybe bad accessibility
          // but it's what we've done previous.
          display: none;
        }

        .btn {
          flex: 1;
          border-radius: 2px;

          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .dropdown-menu {
          // allow some of the thumb to show on edge please.
          left: 6px !important;
        }
      }
    }

    // A label indicating the thumbnail belongs to a private item.
    .private-badge-div {
      position: absolute;
      right: 0;
      top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      .badge-warning {
        padding-top: 0;
        padding-bottom: 0;
        border-radius:0;
        line-height: 2.3;
      }
    }

  }

}
