.work-show {
  .show-title {
    margin-bottom: $paragraph-spacer;
    h1 {
      margin-bottom: 0;
    }
  }

  .additional-titles, .part-of {
    margin-bottom: 0;
    &, h2 {
      font-family: $brand-alt-header-font;
      font-weight: normal;
      @extend h3;
      margin-bottom: 0;
      margin-top: 0;
    }
    li {
      margin-top: $paragraph-spacer / 2;
    }
  }

  .show-date {
    @extend %text-font-numerals;
    ul {
      @extend .list-unstyled;
      margin-bottom: 0;
    }
    margin-top: $paragraph-spacer;
  }

  .work-description p {
    max-width: $max-readable-width;
  }

  // matches the attribute table, although it's not really a table.
  .show-sub-head-body {
    border-top: 3px solid $table-border-color;
    padding: $table-cell-padding-sm;
    margin-left: -1 * $table-cell-padding-sm;
    margin-bottom: 1rem;
  }
  .citation {
      line-height: 1.5 !important;
      word-break: break-word;
  }



}
