
/***
 *
 *  Mixins and placeholder classes
 *
 */


// Our full-width sections need:
//   1. padding (which we use to provide visual margins) so on smaller width screens
//      they have the correct margins --with a media query, as we have smaller
//      margins on extra-small screens.
//
//   2. A max-width, with horizontal centering, so on LARGER screens the content
//      does not go beyond a certain width. (At the point max-width kicks in,
//      padding/marigns no longer matter, because it's being centered)
//
// Both of these things need to match header/footer, so margins always line up.
//
// This mixin can be used to give these things to a section.
//
// No vertical padding/margins are provided by this mixin, those are on you.
//
// If the section needs a background (eg color), it needs an outer container div
// around the one with shi-full-width-inner-mixin to provide the background.
// This is why the mixin is called "-inner"
//
// This functionality is availabile as this mixin, or if it's easier as a CLASS
// at .shi-full-width-inner
//
@mixin shi-full-width-inner-mixin {
  max-width: $main-container-max-width;
  margin: 0 auto;

  // perceived margins are done with padding, on small
  // screens fairly tight.
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up($layout-expand-up) {
    // large screen, bigger margins
    padding-left: 30px;
    padding-right: 30px;
  }
}

@mixin all-white-links {
  a,
  a:link,
  a:active,
  a:visited,
  a:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
}

%special-label{
  font-family: $brand-sans-serif;
  font-weight: $semi-bold-weight;
  text-transform: uppercase;
  font-size: 0.875rem;  // 14px for 16px=1rem
  line-height: normal;
  letter-spacing: $small-caps-letter-spacing;
  a:not(:focus):not(:hover) {
    color: $shi-alt-muted-text;
  }
}


