<div class="card card-body mb-4 bg-light extent-converter">
  <div>
    <a class="btn btn-secondary" data-bs-toggle="collapse"
      href="#collapseExtentConverter" role="button"
      aria-expanded="false" aria-controls="collapseExtentConverter">
      Convert inches to centimeters
    </a>
  </div>
  <div class="collapse " id="collapseExtentConverter">
    <div class="row mt-4">
      <div class="col-sm"><input type="text" class="centimeters"></div>
      <div class="col-sm col-form-label text-sm">cm</div>
      <div class="col-sm"><input type="text" class="inches"></div>
      <div class="col-sm col-form-label text-sm">in</div>
    </div>
  </div>
</div>
