<div class="card card-body ms-5 mb-4 bg-light extent-converter">

    <div class="row">
      <div class="col-sm">Converter:</div>
      <div class="col-sm"><input type="text" class="centimeters" id="extentConvertCm"></div>
      <div class="col-sm col-form-label text-sm">
        <label for="extentConvertCm">cm</label>
      </div>
      <div class="col-sm"><input type="text" class="inches" id="extentConvertIn"></div>
      <div class="col-sm col-form-label text-sm">
        <label for="extentConvertIn">in</label>
      </div>
    </div>

</div>
