<div class="card card-body ms-5 mb-4 bg-light extent-converter d-inline-block">
    <div class="row gap-2">
      <div class="col-auto">Converter:</div>
      <div class="col-auto">
        <input type="text" class="inches" id="extentConvertIn" size="6">
        <label for="extentConvertIn">in</label>
      </div>
      <div class="col-auto">
        <input type="text" class="centimeters" id="extentConvertCm" size="6">
        <label for="extentConvertCm">cm</label>
      </div>
    </div>
</div>
