<div class="card bg-light mb-3">
  <h2 class="card-header h3">Interviewee biography</h2>
  <div class="card-body">
    <%= simple_form_for(@work.oral_history_content, url: update_oral_history_content_admin_work_path(@work)) do |f| %>
      <%= f.association :interviewee_biographies, collection: IntervieweeBiography.order(:name), hint: "Multiple select, hold down command on MacOS or control on Windows to select and deselect" %>
      <%= submit_tag "Save Changes", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
