<div class="card bg-light mb-3">
  <h2 class="card-header h3">Interviewee biography</h2>
  <div class="card-body">
      <%= simple_form_for(@work.oral_history_content, url: update_oral_history_content_admin_work_path(@work), html: { id: :oh_interviewee_biographies}) do |f| %>
        <%= f.association :interviewee_biographies, collection: IntervieweeBiography.order(:name), input_html: { "data-tom-select": "true" }, disabled: cannot?(:update, @work)%>
        <%= submit_tag "Save Changes", class: "btn btn-primary mb-3", disabled: cannot?(:update, @work) %>
      <% end %>
  </div>
</div>
