<!DOCTYPE html>

<html lang="en">
  <head>
    <%= vite_javascript_tag 'ia_book_reader' %>
  </head>
  <body>
    <div id="scihist-bookreader-container" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;">
    </div>
  </body>
</html>
