<div class="branded-body-font text-page">
  <h1 class="brand-alt-h1">About</h1>

  <p>The Science History Institute's Digital Collections offer highlights from our library, archives, and museum collections. Our chronology ranges from the Roman Empire to the 21st century, and the materials include everything from fine art to rare books and from scientific objects to photographs.</p>

  <p>The purpose of our Digital Collections is to manage, preserve, and provide access to our digital assets all in one location. Although the Digital Collections include only a small portion of our entire collection, new material is added every day. See the Institute's <a href="https://www.sciencehistory.org/collections">Collections page</a> for more information about our library, archives, and museum.</p>

  <h2 class="brand-alt-h2">Copyright</h2>
  <%= render "copyright_explanation" %>

  <h2 class="brand-alt-h2">Technical Summary</h2>
  <p>The Digital Collections are built on an open-source technology stack based on Ruby on Rails, postgres, Solr, and blacklight. All of <a href="https://github.com/sciencehistory/scihist_digicoll" target="_blank">our code is freely available</a> on GitHub via an Apache 2.0 license. We have also created the <a href="https://github.com/sciencehistory/kithe">kithe</a> gem as shareable toolkit for Rails apps that would like to take a similar architectural approach.</p>

  <h2 class="brand-alt-h2">Acknowledgments</h2>
  <p>We would like to acknowledge the generous support of the Arnold and Mabel Beckman Foundation and Robert W. Gore. This project was made possible in part by the Institute of Museum and Library Services grant SP-02-16-0014-16.</p>
</div>
