<div class="policy-page branded-body-font text-page">
  <h1 class="brand-alt-h1">Digital Collections Policy</h1>

  <h2>Mission</h2>
  <p>The Science History Institute’s Digital Collections strive to collect, manage, preserve, and increase access to the Institute’s born-digital and digitized library, archives, museum, and oral-history collections. The Digital Collections support and encourage researchers, enable collections staff to manage and preserve digital objects, and facilitate public outreach through open access whenever possible.</p>

  <h2>Scope</h2>
  <p>The Digital Collections further the Science History Institute’s organizational mission “to foster dialogue on science and technology in society” by building an online collection dedicated to the history of science, medicine, technology, and industry, with an emphasis on chemistry and related areas. Since the Digital Collections will draw from several departments across the Institute, the collecting scope of divisions within the Digital Collections may vary and will draw from the Institute's existing collections policy governing physical collections.</p>

  <h2>Purpose</h2>
  <p>The Digital Collections provide long-term preservation and high-quality access to the Science History Institute's digital resources. Inclusion in the Digital Collections must be for one or more of the following reasons:</p>

  <dl class="info">
    <dt>Access</dt>
    <dd>Popular, significant, rare, or unique items would benefit from easier digital access and improved discoverability through cross-collection search and browse. Materials supporting the research of current fellows or those with restricted physical access due to fragility or value may be prioritized.</dd>

    <dt>Preservation</dt>
    <dd>Physical object is fragile or deteriorating and curators agree to digitize to reduce handling of physical object. Audiovisual files need bit-level preservation or transfer from obsolete media.</dd>

    <dt>Outreach</dt>
    <dd>Digitization supports the Science History Institute’s educational outreach and public programming or promotes collaboration with other institutions and individuals who share the Institute's mission. Such projects should be strategic and not on-demand one-off requests.</dd>

    <dt>Innovation</dt>
    <dd>Digital projects should increase the technical knowledge of collections and digital collections staff. Priority may be given to projects that encourage collaboration with, or raise our profile among, peer institutions.</dd>
  </dl>

  <h2>Selection Criteria</h2>
  <p>Priority for digitization must also satisfy at least three of the following criteria but should strive to fulfill as many of the criteria as possible, when relevant:</p>

  <dl class="info">
    <dt>Significance of the Materials</dt>
    <dd>Items have intellectual, cultural, and/or monetary value.</dd>

    <dt>Current or Potential Users</dt>
    <dd>Materials are heavily used and/or digital surrogates are frequently requested. Digitization would increase access to restricted materials or promote underused collections to potential new users.</dd>

    <dt>Cataloging and Metadata</dt>
    <dd>Physical items must be cataloged and archival collections must be processed and described before digitization. Staffing must be allocated for additional metadata creation.</dd>

    <dt>Relationship to Other Collections</dt>
    <dd>Item relates to other items being digitized within a single division, across other Science History Institute collections, or at external organizations with whom the Institute may collaborate.</dd>

    <dt>Nonduplication Effort</dt>
    <dd>Prioritize items that are not already freely available online unless a new digitization would improve upon the quality of the existing image or metadata.</dd>

    <dt>Funding Sources</dt>
    <dd>Priority for digitization may be given to items or collections that fulfill a grant or donor request, but only if the scope of the materials is consistent with the rest of the Science History Institute's Digital Collections policy.</dd>

    <dt>Copyright Clearance</dt>
    <dd>Items in the public domain or with clear rights clearance will be prioritized. Items with dubious rights will be considered on a case-by-case basis, keeping in mind a larger commitment to providing access whenever possible.</dd>

    <dt>Condition of Materials</dt>
    <dd>Select only items that can withstand digitization and that would produce good images (i.e., not books with tight bindings). Curators may consider digitization as a preservation mechanism for fragile items in need of conservation.</dd>

    <dt>Representative of Work’s Intellectual Scope</dt>
    <dd>Complete works, including cover-to-cover digitized books and entire archival folders, are preferred. Thoughtful sampling is permitted if item-level metadata would benefit plates in books or if the entire archival folder is not intellectually or visually significant or relevant to project-based selection criteria.</dd>
  </dl>

  <h2>Standards</h2>
  <p>The Science History Institute's Digital Collections support FADGI-compliant, high-resolution archival-quality images and audiovisual files for long-term preservation. All metadata in the Digital Collections must be consistent with national conventions, controlled vocabularies, Linked Data authorities, and ISO standards as described in detail in the Institute’s Metadata Guidelines. Any requests for deviation from the Metadata Guidelines must involve the digital projects and metadata librarian.</p>

  <h2>Excluded Items</h2>
  <p>Excluded items may be revisited later for inclusion if capacity increases and priorities shift, but the following materials currently fall outside the scope of the Science History Institute's Digital Collections:</p>
  <ul class="text-font">
    <li>Institutional records or educational materials created by the Institute that are not part of the library, archives, museum, or oral-history collections (documentary videos, magazine materials, etc.)</li>
    <li>Websites created by the Institute or others</li>
    <li>Datasets created by the Institute, researchers, or others</li>
    <li>Rights and reproductions requests that do not meet other selection criteria</li>
    <li>Digital assets that are of poor quality (file too small, unprofessional crop, etc.)</li>
    <li>Items that only require short-term use and management or that were never intended for a public audience or long-term preservation</li>
    <li>Unprocessed or uncataloged physical materials</li>
  </ul>

  <h2>Staffing</h2>
  <p>Selection of items for inclusion in the Digital Collections will be made by the curator of the appropriate physical collection in conjunction with the director of digital library initiatives. The director of digital library initiatives is responsible for maintaining the repository and for quality assurance of images. Metadata will be pulled from existing collections management systems if possible. Additional metadata will be created primarily by the department responsible for the physical item, but in conjunction with the digital projects and metadata librarian, who is also responsible for metadata quality assurance.</p>

  <h2>Deaccessioning</h2>
  <p>Individual objects or entire collections may need to be deaccessioned for reasons of violation of copyright or copyright dispute, inaccurate data or facts, collection weeding, or storage concerns, or because the material no longer supports the Science History Institute's audience or goals. These decisions will be made in conjunction with the director of digital library initiatives, the curator of the appropriate physical collection, and the director of the appropriate division, and will be handled on a case-by-case basis.</p>

  <h2>Changes to the Policy</h2>
  <p>All revisions to this policy must be approved by the Digital Collections Committee, which includes representatives from each of the Science History Institute's major collecting units.</p>
</div>
