<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Software Error (500)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset='utf-8'>
  <%= vite_stylesheet_tag 'application.scss', media: "all" %>
  <link rel="stylesheet" href="https://use.typekit.net/dlz1uwu.css">
</head>
<body class='error-page s500'>

  <!-- header -->
<header id="shi-masthead-from-main-website" class="masthead">
    <div class="header noprint js-header">
            <div class="header__inner">
                <div class="header__logo">
                    <a class="custom-logo-link img-middle shi-hover" href="https://sciencehistory.org/" rel="home">
                        <%= image_tag "from_main_website/shi-logo.png",
                            width: 575, height: 122,
                            class: "img-autosize custom-logo",
                            alt: "Science History Institute: Museum & Library",
                            decoding: "async",
                            loading: "lazy",
                            srcset: {
                              "from_main_website/shi-logo.png" => "575w",
                              "from_main_website/shi-logo-300x64.png" => "300w"
                            },
                            sizes: "(max-width: 575px) 100vw, 575px"
                        %>
                    </a>
                </div>


                <div class="header__right-side">
                  <h1 class="masthead-title small-masthead-only">
                    <a href="/">Digital Collections</a>
                  </h1>
                </div>
            </div>
    </div>
</header>

  <!-- end header -->

  <div class="error-body shi-full-collapse-horizontal-inner">
    <div class="image-column column">
      <a href="/works/h989r376z" class="image-link-wrapper">
        <%= image_tag "500image.jpg", class: "hero-image" %>
        <div class="caption">
          Adapted from <i>Triumphs &amp; Wonders of Modern Chemistry</i>.
        </div>
      </a>
    </div>
    <div class="text-column column">
      <h1 class="h2 error-headline"><i class="fa fa-exclamation-triangle"></i> We're sorry. A software error occurred.</h1>

      <div class="error-section">
        <%# https://docs.honeybadger.io/ruby/getting-started/collecting-user-feedback.html %>
        <!-- HONEYBADGER FEEDBACK -->
        <!-- HONEYBADGER ERROR -->
      </div>

    </div>
  </div>
</body>
</html>
