nav.accept-cookies-banner-nav {
  display: none; // will be flex when shown
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: $spacer * 1.5;
  min-height: 1px;
  padding: $spacer * 1.5;

  border-top: 1px solid $shi-bg-gray-border; // to make it show up over black well

  background-color:  $shi-blackish;
  color: white;

  .i-accept-copy {
    flex-basis: 25rem;
    flex-grow: 1;
  }

  .i-accept-copy a {
    color: white;
    text-decoration: underline;
  }

  div.i-accept-copy {
    font-size: 0.9375rem;
    line-height: 1.2;
  }
  div.i-accept-button-div {
  }
}
