// Blacklight removes underlines from hover too, which is not our style, annoying.
// https://github.com/projectblacklight/blacklight/blob/1494bd0884efe7a48623e9b37abe558fa6348e2a/app/assets/stylesheets/blacklight/_facets.scss#L78
.facet-values a:hover {
  text-decoration: underline;
}


// https://github.com/projectblacklight/blacklight/pull/3445
.facet-pagination {
  display: flex;
  width: 100%;
}


// Blacklight's decision to try to use bootstrap modal CSS with an html5 dialog --
// in such a way the <dialog> element actually serves as the modal backdrop --
// requires some fixes to both bootstrap CSS and user-agent default css
//
// Local implementation of https://github.com/projectblacklight/blacklight/pull/3447
dialog.modal[open] {
  // override bootstrap .modal class default display: none
  // since we aren't using bootstrap JS that sets and unsets the display
  display: block;
  background: none;
  border: none;

  max-height: unset; // override user-agent dialog
  max-width: unset; // override user-agent dialog
}
