$collection-index-box-width: 266px;
$collection-index-box-height: 266px;
$collection-index-box-margin: 17px;

.collections-index {

  .index-title {
    text-align: center;
    @extend .brand-alt-h1;
    @extend .mt-3;
  }

  .blurb {
    max-width: $max-readable-width;
    font-size: $large-blurb-font-size;
    text-align: center;
  }

  .collections-index-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: -1 * $collection-index-box-margin; /* negate flex-item margins on outer border */
    margin-bottom: $collection-index-box-margin;

    .collection {
      position: relative;
      width: $collection-index-box-width;
      height: $collection-index-box-height;
      margin: $collection-index-box-margin;

      @include all-white-links;

      // crop to fit square
      img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .collection-title-wrapper {
        /* overlay on image */
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $shi-transparent-dark-bg;
        padding: 0.5rem;


        // trying to make it equal TWO lines of text
        min-height: (($line-height-base * $body-font-size * 2) + (0.5rem * 2));

        display: flex;
        align-items: center;
        justify-content: center;

        p {
          text-align: center;
          margin: 0;
          padding: 0;
        }
      }
    }

    /* A 0-height box that spaces out columns to left-align items in
       last column */
    .collection-spacer {
      visibility: hidden;
      width: $collection-index-box-width;
      height: 0;
      margin: 0 $collection-index-box-margin;
    }
  }
}

.collection-show-media {
  img {
    max-width: 100%;
  }
}
