.collection-show {
  .collection-top {
    margin-bottom: ($spacer * 2);

    .related-links .attribute-sub-head {
      margin-top: ($spacer * 2); // override
    }
  }

  .collection-header {
    display: flex;

    // smaller screens one column with image first, full width, limited to only so high
    @include media-breakpoint-down(md) {
      flex-direction: column;

      @include full-bleed;

      .collection-header-title {
        order: 2;
        padding-top: ($spacer * 2);
        padding-bottom: ($spacer * 2);
      }
      .collection-header-thumb img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        max-height: 18rem;
      }
    }

    // bigger screen side-by-side with image on right
    @include media-breakpoint-up(md) {
      .collection-header-title {
        width: 60%;
        padding-top: ($spacer * 3.5);
        padding-bottom: ($spacer * 3.5)
      };
      .collection-header-thumb {
        width: 40%;
      }

      // Some tricky code that works to make the image no higher than needed
      // for the LEFT text column -- the height of the whole thing is only determined
      // by the left text side. Then image is cropped to fit (object-fit: cover)
      // whatever aspect ratio that is, to fill the space the left side creates.
      .collection-header-thumb {
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          right: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }

  // Alternate bg block colors for special types of pages
  &.exhibition {
    .collection-header-title, .collection-mini-header {
      background-color: $shi-dark-gray;
    }
  }
  &.featured-collection-show {
   .collection-header-title, .collection-mini-header {
      background-color: $shi-maroon;
    }
  }

  .collection-header-title, .collection-mini-header {
    background-color: $shi-teal;
    color: white;

    .show-genre a, .show-genre {
      color: $shi-yellow;
    }

    h1 {
      @extend .h2;
      @extend .brand-alt-h2;
      color: white;
    }
    .title-link {
      color: white;
    }

    .show-item-count {
      margin-bottom: ($spacer * 2);
    }
  }
  .collection-header-title, .collection-description, .related-links {
    padding-left: 3.5vw;
    padding-right: 4.5vw;
  }
  .collection-mini-header {
    padding: $spacer;
    margin-bottom: ($spacer * 2)
  }


  // another block that at larger screens is two columns, smaller one column.
  // Should match column widths above.
  .collection-about {
    display: flex;
    justify-content: space-between;

    .collection-description-text {
      max-width: $max-readable-width;

      a {
        @extend .text-link;
      }
    }

    .collection-description-text.short-text {
      // make it bigger for text we measured shorter
      font-size: 1.4rem;
    }
    .collection-description, .collection-funding-credit {
      margin-top: ($spacer * 3);
    }

    .other-system-links {
      display: flex;
      flex-wrap: wrap;
      gap: $spacer;
      margin-top: ($spacer * 2)
    }

    .collection-funding-credit {
      align-self: center;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: $spacer;
      margin-bottom: $spacer;
    }

    .funding-credit-image {
      max-width: 7rem;
    }

    .funding-credit-text {
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 17rem;
      min-width: 17rem;

      a {
        @extend .text-link;
      }
    }



    @include media-breakpoint-down(sm) {
      flex-direction: column;

      .collection-description, .related-links {
        padding-left: 0;
        padding-right: 0;
      }
    }

    @include media-breakpoint-up(md) {
      .collection-description {
        width: 60%;
        flex-grow: 1; // can take more space if funding is not present
      }
      .collection-funding-credit {
        width: 40%;
      }
    }
  }

  .related-links {
    max-width: $max-readable-width;
    box-sizing: content-box;
  }

  // match work-show, for our related links
  .show-sub-head-body {
    border-top: 3px solid $table-border-color;
    padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
    margin-left: -1 * $table-cell-padding-x-sm;
    margin-bottom: ($paragraph-spacer * 2);
  }
  .related-link-component:not(:last-child) {
    @extend .mb-3;
  }

}
