.collection-show {
  .collection-top {
    margin-bottom: ($spacer * 4);
  }

  .collection-header {
    display: flex;

    // smaller screens one column with image first, full width, limited to only so high
    @include media-breakpoint-down(sm) {
      flex-direction: column;

      .collection-header-title {
        order: 2;
      }
      .collection-header-thumb img {
        object-fit: cover;
        width: 100%;
        max-height: 12rem;
      }
    }

    // bigger screen side-by-side with image on right
    @include media-breakpoint-up(md) {
      .collection-header-title {
        width: 60%
      };
      .collection-header-thumb {
        width: 40%;
      }

      // Some tricky code that works to make the image no higher than needed
      // for the LEFT text column -- the height of the whole thing is only determined
      // by the left text side. Then image is cropped to fit (object-fit: cover)
      // whatever aspect ratio that is, to fill the space the left side creates.
      .collection-header-thumb {
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          right: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }


  .collection-header-title, .collection-mini-header {
    background-color: $shi-teal;
    color: white;

    .show-genre a, .show-genre {
      color: $shi-yellow;
    }

    h1 {
      @extend .h2;
      @extend .brand-alt-h2;
    }
    .title-link {
      color: white;
    }

    .show-item-count {
      margin-bottom: ($spacer * 2);
    }
  }
  .collection-header-title {
    padding: ($spacer * 3.5) 3.5vw;
  }
  .collection-mini-header {
    padding: $spacer;
    margin-bottom: ($spacer * 2)
  }


  // another block that at larger screens is two columns, smaller one column.
  // Should match column widths above.
  .collection-about {
    display: flex;

    .collection-description {
      p {
        max-width: $max-readable-width;
      }
    }
    .collection-description, .collection-funding-credit {
      margin-top: ($spacer * 2);
    }

    .collection-funding-credit {
      align-self: center;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: $spacer;
      margin-bottom: $spacer;
    }

    .funding-credit-image {
      max-width: 7rem;
    }

    .funding-credit-text {
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 17rem;
      min-width: 17rem;
    }



    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    @include media-breakpoint-up(md) {
      .collection-description {
        padding-right: 3.5vw;
        width: 60%;
      }
      .collection-funding-credit {
        width: 40%;
      }
    }
  }

  .related-links {
    max-width: $max-readable-width;
  }

  // match work-show, for our related links
  .show-sub-head-body {
    border-top: 3px solid $table-border-color;
    padding: $table-cell-padding-sm;
    margin-left: -1 * $table-cell-padding-sm;
    margin-bottom: ($paragraph-spacer * 4);
  }
  .related-link-component:not(:last-child) {
    @extend .mb-3;
  }

}
