.deai-footer {
  padding-top: 2em;
  padding-bottom: 2em;

  background-color: $shi-footer-bg-green;

  // not sure what link color to use over our green callout
  a {
    color: black;
    font-weight: bold;
    text-decoration: underline $shi-red;
    &:hover {
      color: $shi-red;
    }
  }

  p {
    font-size: 1rem;
    font-family: "sofia-pro", "sans-serif" !important;
    color: $shi-alternate-text-color;

    line-height: 1.4em;

    // I guess we'll make this match max-width of the dig-col-links supra-footer?
    // This is a bit screwy.
    max-width: 40rem !important;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
  }
}
