
.blacklight-homepage {
    #masthead {
        margin-bottom: 0 !important;
    }

    #mainContainer {
        max-width: initial !important;
        padding-left: 0    !important;
        padding-right: 0   !important;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    figure.hero-image {
        position: relative; /* allow absolute positioning of caption */
        padding-left: 0; /* overcome the padding on grid columns */
        padding-right: 0; /* overcome the padding on grid columns */
        margin-bottom: 0;
        img {
          width: 100%;
          // for small screens at collapsed size
          max-height: 20rem;
          object-fit: cover;
          /*
            Note:

            The Bootstrap breakpoint of 992 pixels,
            referenced below as media-breakpoint-up('lg')
            is also hard-wired in the template:
            /app/components/home_page_hero_image_component.html.erb

            See https://github.com/sciencehistory/scihist_digicoll/issues/2647 for context.

          */
          @include media-breakpoint-up('lg') {
            max-height: revert;
            object-fit: revert; // cause apparently sometimes it's off by 1 pixel!
          }
        }
        figcaption {
          position: absolute;
          bottom: 0;
          right: 0;
          background: $transparent-background;
          padding: 0.3125rem 0.625rem;
          @include all-white-links;
          font-weight: 300;
          font-style: italic;
        }
    }

    .home-right-column {
        background-color: $shi-teal;
        color: white;
        font-family: "sofia-pro","sans-serif";
        padding: 1rem 0;

        @include media-breakpoint-up('lg') {
            // keeps it vertically centered, and horizontally no wider than needed
            display: flex;
            flex-direction: column;
            justify-content: center;

            .search-container {
              max-width: 38rem;
              padding: 0 2rem;
            }
        }
    }

    .digital-description {
        h1 {
            color: $shi-yellow;
            text-transform: uppercase;
            font-weight: 600;
        }
        .blurb {
          line-height: $headings-line-height;
          margin-bottom: $paragraph-spacer * 2 !important;
          font-size: $large-blurb-font-size !important;
        }
    }

    .search-container {
        @include shi-full-width-inner-mixin;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .search-callouts {
        .input-group {
            min-height: 2.875rem;
            input.q, button {
                min-height: 2.875rem;
            }
        }
    }

    .ribbon-section {
      padding-top: 3rem;
      padding-bottom: 3rem;

      .title-div {
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
          font-weight: 900;
          font-size: 2.125rem;
          padding: 0;
          margin: 0;
        }

        .blurb {
          line-height: $headings-line-height;
          text-align: center;
          font-size: $large-blurb-font-size;
          margin-top: 1.5rem;
          margin-bottom: 0;
        }
      }
    }

    // Can be same div as .ribbon-section if no background color
    .ribbon-section-inner {
      @include shi-full-width-inner-mixin;
    }


    $recent-items-box-width: 10.5rem;
    $recent-items-box-margin: 1.28rem;

    .recent-items-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;

      .recent-item {
        display: block;
        width: $recent-items-box-width;
        margin: $recent-items-box-margin;

        .image-wrapper {
          // cut images off at no more than a certain aspect ratio
          max-height: 2.2 * $recent-items-box-width;
          overflow: hidden;

          // Size image to max width of container
          img {
            width: 100%;
            &.bordered {
              border: 2px solid $table-border-color;
            }
          }
        }

        // A title box below image, that only shows up on hover/focus!
        .recent-title {
          // absolute positioned so when it is visible, it'll be "above" ordinary page flow,
          // like a tooltip.
          position: absolute;
          width: $recent-items-box-width;

          // Hide in a way we can animate visibility.
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.2s, visibility 0.2s;

          // Make it look like a bootstrap tooltip, copied
          // from bootstrap tooltip implementation
          // We have to adjust font-size by 1/1.2, because we
          // don't actually want it to be scaled up!
          @include reset-text();
          @include font-size(($tooltip-font-size * 0.833));
          padding: ($tooltip-padding-y * 0.833) ($tooltip-padding-x * 0.833);
          color: $tooltip-color;
          text-align: center;
          background-color: $tooltip-bg;
        }

        // Enlarge the image on hover/focus, which also makes
        // the title box show up
        transition: transform .2s;
        &:hover, &:focus {
          transform: scale(1.2);
          z-index: 1;

          .recent-title {
            opacity: 1;
            visibility: visible;
            @extend .shadow-lg;
          }
        }
      }
    }

    .featured-topics {
        background-color: $shi-dark-gray;

        .title-div h2, .title-div {
          color: white;
        }

        .featured-topic {
          a {
            text-decoration: none;
          }

          // supposed to be square, but if it's not let's force it, and
          // crop to fit
          .featured-topic-image {
            aspect-ratio: 1;
            object-fit: cover;
          }
          .featured-topic-title {
              text-align: center;
              font-weight: 700;
              color: $shi-yellow;
              font-size: $h4-font-size;
              margin-top: 0.5em;
              // font-family: $brand-sans-serif;
              // line-height: 1.4;
          }
        }
    }


    .collections, .featured-topics {
      .collections-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 1rem;

        .collection {
          display: flex;
          flex-direction: column;
          margin: $collection-index-box-margin;
          max-width: $collection-index-box-width;
          text-decoration: none;

          .title {
            font-size: 1.125rem;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            text-align: center;
            color: white;
            background-color: $shi-dark-gray;
            padding: 0.625rem;
          }
        }
      }

      .button-area {
        display: flex;
        justify-content: center;
        padding: $collection-index-box-margin $collection-index-box-margin 0 $collection-index-box-margin;
      }
    }
}
