
.blacklight-homepage {
    #masthead {
        margin-bottom: 0 !important;
    }

    #mainContainer {
        max-width: initial !important;
        padding-left: 0    !important;
        padding-right: 0   !important;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    figure.hero-image {
        position: relative; /* allow absolute positioning of caption */
        padding-left: 0; /* overcome the padding on grid columns */
        padding-right: 0; /* overcome the padding on grid columns */
        margin-bottom: 0;
        img {
          width: 100%;
        }
        figcaption {
          position: absolute;
          bottom: 0;
          right: 0;
          background: $transparent-background;
          padding: 0.3125rem 0.625rem;
          @include all-white-links;
          font-weight: 300;
          font-style: italic;
        }
    }

    .digital-description {
        .pre-heading {
          @extend %special-label;
          color: $special-label-muted-color;
          margin-bottom: 0.1875rem;
          margin-top: 1.5rem;
        }

        h2 {
          margin-top: 0;
        }

        .blurb {
          margin-top: $paragraph-spacer !important;
          margin-bottom: $paragraph-spacer * 2 !important;
          font-size: $h5-font-size !important;
        }
    }

    .search-container {
        padding-left: 1.25rem  !important;
        padding-right: 1.25rem !important;
    }
    /* @media (min-width: $screen-md-min) { */
    /* $screen-md-min: 992px; */
    @include media-breakpoint-up(lg) {
        .home-right-column {
            // crazy way to keep .search-container vertically centered
            $hero-aspect-ratio: 1.366; // w divided by height of hero image in left column
            // width of hero image (col-md-5) is 6/12. Make that expressed in vw, for screen width.
            // Then Divided by aspect ratio is it's height.
            // make this height the same. But account for ~20px scrollbar on some browser/OS.
            height: calc(((600vw / 12) - 1.25rem) / #{$hero-aspect-ratio});
            display: flex;
            flex-direction: column;
            justify-content: center;

            .search-container {
                max-width: 38em; // keep the lines from going too long on big screens
                min-height: 70%;
                // and then center it.
                margin-left: auto;
                margin-right: auto;
                .pre-heading  {
                    margin-top: 0;
                }
            }
        }
    }

    .search-callouts {
        .input-group {
            min-height: 2.875rem;
            input.q, button {
                min-height: 2.875rem;
            }
        }
        /* @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { */
        /* $screen-sm-max: 992px; $screen-sm-min: 768px; */
        @include media-breakpoint-only(md) {
            /* vertically line up with header when side-by-side */
            /* stacks with searchbar margin to equal 20 */
            margin-top: 1.75rem;
        }
    }

    .ribbon-section {
      .title-div {
        display: flex;
        flex-direction: column;

        h2 {
          @extend .brand-alt-h2;
          padding: 1rem 1rem 1rem 1rem;
          margin-bottom:0;
        }

        .blurb {
          // styling copied from some large blurb text on www.sciencehistory.org.
          font-size: 1.5rem;
          max-width: none;
          padding: 1rem 1rem 2rem 1rem;
        }
      }
    }


    $recent-items-box-width: 10.5rem;
    $recent-items-box-margin: 1.28rem;

    .recent-items {
        background-color: $brand-light-grey;
    }

    .recent-items-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      padding-top: 0.9375rem;
      padding-bottom: 1.875rem;

      .recent-item {
        display: block;
        width: $recent-items-box-width;
        margin: $recent-items-box-margin;

        // cut images off at no more than a certain aspect ratio
        .image-wrapper {
          max-height: 2.2 * $recent-items-box-width;
          overflow: hidden;
        }

        // A title box below image, that only shows up on hover/focus!
        .recent-title {
          // absolute positioned so when it is visible, it'll be "above" ordinary page flow,
          // like a tooltip.
          position: absolute;
          width: $recent-items-box-width;

          // Hide in a way we can animate visibility.
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.2s, visibility 0.2s;

          // Make it look like a bootstrap tooltip, copied
          // from bootstrap tooltip implementation
          // We have to adjust font-size by 1/1.2, because we
          // don't actually want it to be scaled up!
          @include reset-text();
          @include font-size(($tooltip-font-size * 0.833));
          padding: ($tooltip-padding-y * 0.833) ($tooltip-padding-x * 0.833);
          color: $tooltip-color;
          text-align: center;
          background-color: $tooltip-bg;
        }

        // Enlarge the image on hover/focus, which also makes
        // the title box show up
        transition: transform .2s;
        &:hover, &:focus {
          transform: scale(1.2);
          z-index: 1;

          .recent-title {
            opacity: 1;
            visibility: visible;
            @extend .shadow-lg;
          }
        }
      }
    }

    $featured-topics-box-width: 18rem; // 21.875rem;
    $featured-topics-box-height: 18rem; // 21.875rem;
    $featured-topics-box-margin: 2.2rem; // 3.6875rem;

    .featured-topics {
        background-color: $brand-dark-grey;

        .title-div h2, .title-div {
          color: white;
        }

        .featured-topic {
            position: relative;

            .featured-topic-title-wrapper {
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 3.125rem;
                color: $brand-dark-blue;
                background-color: $brand-bright-green;
                padding: 0.625rem;

                .featured-topic-title {
                    text-align: center;
                    font-weight: $semi-bold-weight;
                    text-transform: uppercase;
                    font-size: 1.125rem;
                    font-family: $brand-sans-serif;
                    line-height: 1.5;
                }
            }
        }
    }


    .collections, .featured-topics {
      padding-bottom: 2.2rem;

      .collections-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .collection {
          display: flex;
          flex-direction: column;
          margin: $collection-index-box-margin;
          max-width: $collection-index-box-width;

          .title {
            font-size: 1.125rem;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            text-align: center;
            color: white;
            background-color: $dark;
            padding: 0.625rem;
          }
        }
      }

      .button-area {
        display: flex;
        justify-content: center;
        padding: $collection-index-box-margin $collection-index-box-margin 0 $collection-index-box-margin;

        .chf-callout-button {
          width: auto;
          flex-shrink: 1;
        }
      }
    }

    .chf-callout-button {
        width: 100%;
        text-transform: uppercase;
        border-radius: 0;
        letter-spacing: 0.04em;
        margin-bottom: 1.5625rem;
        // unlike normal btns, normally it's full width, but if screen is so small
        // it needs to, it should break.
        white-space: initial;
        border-radius: 2px;
    }

    .i-accept-copy {
        /* add in extra padding removed from .blacklight-homepage > container-fluid */
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
}
