.work-show-audio {

  .top-matter {
    display: flex;

    @media (max-width: 50rem) {
      display: block;
    }

    .oh-portrait {
       width: $standard-thumb-width;
       flex-grow: 0;
       flex-shrink: 0;
       margin-right: $spacer * 2;
       margin-bottom: $spacer * 2;
    }

    .show-title {
      flex-basis: 0;
      flex-shrink: 10;
      flex-grow: 1;
      margin-bottom: $spacer * 2;
    }
  }

.vjs-mouse-display {
  background-color: red !important;
}

  .audio-navbar {
    @extend .row;

    position: sticky;
    top: 0 !important;
    z-index: $zindex-fixed; // make sure bootstrap popovers et al scroll UNDER, but modal goes OVER

    padding-top: $spacer;

    background-color: $shi-dark-gray;
    color: white;
    // material-design-like shadow, sorry we're just hacking it un-DRY.
    // https://stackoverflow.com/questions/30533055/calculating-shadow-values-for-all-material-design-elevations
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    @include full-bleed;

    @include media-breakpoint-up(md) {
      padding-left: $grid-gutter-width * 0.5;
      padding-right: $grid-gutter-width * 0.5;
    }

    // has video.js controls, and our "jump to text" button
    .audio-controls-line {
      display: flex;
      align-items: center;
      gap: 1rem;
      @media (max-width: 44rem) {
        flex-direction: column;
        align-items: revert;
      }
    }

    // slightly change video-js theme color to be darker and our brand color
    .video-js {
      background-color: $shi-blackish;
      .vjs-control-bar {
        background-color: $shi-blackish;
      }
      .vjs-slider {
        background-color: $shi-turquoise;
      }

      // was hard to figure this one out, trying to make it more visible, this is an improvement
      // but also makes the sizing/positioning a bit weird for reasons we can't tell, probbly related to JS.
      .vjs-play-progress .vjs-time-tooltip {
        background-color: white;
        border: 1px solid $shi-bg-gray-border;
      }
      .vjs-mouse-display .vjs-time-tooltip {
        background-color: $shi-blackish;
      }
    }


    .btn-emphasis {
      text-transform: uppercase;
    }


    .audio-navbar-contents {
      // keep navbar contents the same width as our general contents,
      // within the full-viewport background-color of the navbar.
      // Calc needed for convoluted reasons trying to mimic bootstrap grid poorly. :(
      max-width: calc(#{$main-container-max-width} - #{$grid-gutter-width});
      margin-right: auto;
      margin-left: auto;
      //@extend .col-md-12;


      .now-playing-container {
        // as an element in it's parent flex
        flex-basis: 66%;
        flex-grow: 2;
        max-width: 100%;

        //as a flex container for it's contents, an audio player (or error message),
        //and a tab list.
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
          padding: 0 1rem 0 0;
        }

        audio {
          width: 100%;
        }
      }

      .ohms-nav-tabs {
        margin-top: $paragraph-spacer;

        // override style like a link, with colors we want, material design inspired tab style.
        .btn-danger {
          border-radius: 0;
          border: 0;
          color: white;

          &:not(.active):not(:hover):not(:focus) {
            background-color: transparent;
          }
          &.active {
            background-color: transparent;
            border-bottom: 3px solid $shi-turquoise;
          }
        }
        // crazy CSS to try to make the tabs horizontally scroll properly
        // on small screens
        @include media-breakpoint-down(sm) {
          flex-wrap: nowrap;
          white-space: nowrap;
          overflow-y: auto;
          margin-left: -15px;
          margin-right: -15px;
          padding-left: 15px;
          padding-right: 15px;
          max-width: 100vw;
        }
      }

      .ohms-search {
        max-width: $max-readable-width; // doesn't need to be this specifically, but works fine
        margin-top: $spacer;
      }

      .ohms-search-results {
        background-color: white;
        color: black;
        padding: ($spacer * 0.5);

        .search-mode {
          text-transform: uppercase;
          letter-spacing: 0.035em;
        }

        .ohms-no-results {
          margin-top: ($paragraph-spacer * 0.5);
          color: $shi-red;
        }

        .ohms-result-navigation {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          strong {
            font-weight: 600;
          }
        }

        ol {
          list-style-position: inside;
          padding-left: 0;

          margin-top: ($paragraph-spacer * 0.5);
          margin-bottom: 0;
        }
        a {
          color: $body-color;
        }
      }
    }
  }

  .bottom {
    padding-top: 2rem;
  }

  .tab-content {
    // I dunno it's just a good width, we need more than max-readable-width,
    // because contents sometiems have more than one effective column
    max-width: 54rem;
  }

  // When we're two column, add more spacer than default
  @include media-breakpoint-up(lg) {
    .col-files {
      padding-right: 36px;
    }
  }

  .tab-pane {
    // if something does accidentally force wide width, keep it from extending
    // viewport with horizontal scrolls.
    overflow: hidden;
  }

  .expanded-social-share {
    margin-bottom: $spacer;
  }

  .share-link {
    text-transform: uppercase;
  }


  .tab-pane.downloads {
    margin-bottom: 2rem;

    .attribute-sub-head {
      margin-top: 0;
    }
  }

  .downloads-pdf {
    border-top: 3px solid $table-border-color;

    .attribute-sub-head {
      margin-top: 0;
    }

    // not sure why, but it works better:
    line-height: 1.3;

    p {
      max-width: $max-readable-width;
    }
  }

  .track-listings, .combined-downloads {
    border-top: 3px solid $table-border-color;

   .track-listing {
      display: flex;
      align-items: center;
      border-top: $table-border-width solid $table-border-color;
      &>  div > a, & > div .dropdown-toggle {
        padding: $table-cell-padding-y $table-cell-padding-x;
      }

      .title {
        padding-left:   0.5em;
        padding-right:  0;
        flex-grow: 1;
        .play-link {
          display: block;
        }
        .start-time {
          color: $body-color;
          font-size: 85%;
        }
      }
    }

    .icon {
      font-size: 150%;
    }

    .title {
      overflow-wrap: anywhere;
      word-break: break-word;
    }

  }

  .combined-audio-download-links {
    border-top: 3px solid $table-border-color;
    .combined-audio-download-icon-container {
      padding-left: 1rem;
      i {
        margin-top: 1rem;
        font-size: 150%;
        margin-right: 0.9rem;
      }
    }
    .combined-audio-download-link-size {
      padding-left: 3.5rem;
    }
  }

  .show-member-file-list-item:first-child > div {
    border: none;
  }

  .work.chf-attributes {
    border-top: 0;
  }

  // URLs in footnotes should be forced to break if needed to fit on screen
  .footnote-list {
    overflow-wrap: break-word;
    a {
      @extend .text-link;
    }
  }
}

.ohms-highlight {
  background-color: $shi-red;
  color: white;
  padding-left: .1em;
  padding-right: .1em;
}

.transcript-speaker {
  font-weight: 800;
  @extend %special-label;
  //color: $shi-red;
}

// make room for and position the timecode links
// This is more or less how standard OHMS viewer does it.
.ohms-transcript-container {
  position: relative;
  padding-left: 5.5em;
  max-width: calc(5.5em + #{$max-readable-width});

  .ohms-transcript-paragraph {
    .ohms-transcript-timestamp {
      font-family: $brand-sans-serif;
      position: absolute;
      left: 0;
    }
  }

  .ohms-footnote-popover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    a {
      // Make it look like a link, not sure why it wasn't looking like any kind
      // of link otherwise
      @extend .text-link;
    }
  }
}

.ohms-index-container {
  max-width: $max-readable-width;
  padding-bottom: 1.5rem;

  // based on scihist-results-list-values, see there.
  div.ohms-index-list {
    margin-top: $paragraph-spacer;
    max-width: $max-readable-width;

    p {
      margin-bottom: $paragraph-spacer * 2;
    }

    .attribute {
      padding-left: 0.66em;
      text-indent: -0.66em;

      .attribute-label {
        @extend %special-label;
        margin-right: 0.66em;
        font-weight: bold;
        color: $shi-red;
      }
    }

    .ohms-hyperlinks ul {
      padding-left: 0.66em;
    }
  }
}



