.full-width-homepage {
    #masthead {
        margin-bottom: 0 !important;
    }

    #mainContainer {
        max-width: initial !important;
        padding-left: 0    !important;
        padding-right: 0   !important;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

.oral-history-collection-splash {
  // show/hide two different images...
  .collection-splash-thumb {
    display: none;
  }
  .collection-banner {
    background-image: url("@/images/oral_history_wide_banner.jpg");
    background-size: cover;
    background-position: center;
    height: 6rem;
  }
  .collection-top {
    margin-bottom: 0;
  }
  @include media-breakpoint-up('lg') {
    .collection-splash-thumb {
      display: block;
    }
    .collection-banner {
      display: none;
    }
  }


  // Can get rid of when we have moved totally over to new design!
  .collection-desc .show-metadata  p {
    font-family: "sofia-pro","sans-serif" !important;
    line-height: 1.4 !important;
  }
  .show-title h1, .show-title h1 a {
    color: white;
    font-family: "sofia-pro","sans-serif" !important;
    margin-bottom: 0.5rem;
    font-weight: 900;
  }
  .show-title h1 a {
    text-decoration-color: $shi-red;
  }
  .show-genre a:not(:focus):not(:hover), .show-genre a {
    color: $shi-yellow;
  }
  // can get rid of when we have general new design in there?
  .collection-description {
    a {
      color: $shi-yellow;
    }
  }

  .collection-search-form {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }


  .collection-desc-container {
    background-color: $shi-teal;
  }

  .collection-desc {
    max-width: calc(#{$max-readable-width} + 6rem);
    padding: 4rem 3.5vw 3rem 3.5vw;

    color: white;
    font-family: "sofia-pro","sans-serif";

    margin: 0 auto;
  }

  .collection-splash-thumb {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 266px;

    background-image: url("@/images/oral_history_collection_splash.jpg");
    background-size: cover;
  }

  .canned-queries-container {
    background-color: $shi-footer-bg-green;

    .canned-queries {
      padding: 2rem 15px;
      @include media-breakpoint-up('md') {
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
      }

      h2 {
        text-align: center;
        margin-bottom: $spacer;
      }

      .canned-queries-heading {
        @extend .brand-alt-h2;
        margin-bottom: 2rem;
      }

      .canned-queries-body {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;

        a.q {
          display: flex;
          align-items: center;
          background-color: white;
          margin-right: 2rem;
          margin-bottom: 2rem;

          .number, .link {
            padding: 0 0.5rem;
          }

          .number {
            font-size: 1.75rem;
            background-color: $shi-dark-blue;
            color: white;
          }
        }
      }
    }
  }

  .this-day-container {
    background-color: $shi-dark-blue;
    padding: 2rem 15px 2rem 15px;

    @include media-breakpoint-up('md') {
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }

    .this-day-body {
      max-width: $main-container-max-width;
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 4.4rem;
      justify-content: center;
      margin: 0 auto;

      .this-day-card {
        width: $standard-thumb-width;
      }
      .this-day-label {
        font-family: $brand-sans-serif;
        font-weight: $semi-bold-weight;
        text-transform: uppercase;
        font-size: 0.875rem;  // 14px for 16px=1rem
        line-height: normal;
        letter-spacing: $small-caps-letter-spacing;
        background-color: white;
        padding: 1em 1em;
        border: 1px solid $shi-dark-blue;
        border-top: none;
        margin-bottom: 0;
      }
      .this-day-text-desc {
        @extend .text-muted;
        padding: 1em 1em;
        background-color: white;
        border: 1px solid $shi-dark-blue;
        margin-bottom: 0;
      }
    }
  }

  .projects {
    padding: 2rem 15px;

    @include media-breakpoint-up('md') {
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }

    h2 {
      text-align: center;
      margin-bottom: $spacer;
    }

    .blurb {
      font-size: $large-blurb-font-size;
      max-width: $max-readable-width;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $spacer * 4;
    }

    .project {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 1rem;

      .project-thumb {
        width: 235px;
        margin-right: 2rem;
        flex-shrink: 1;
        position: relative;

        img {
          max-width: 100%;
        }

        .count {
          position: absolute;
          z-index: 1;
          top: 0.5rem;
          right: 0.5rem;


          font-size: 120%;
          background-color: $shi-dark-blue;
          color: white;
          border-radius: 3em;
          padding: 0 0.5em;
        }
      }

      .text {
        flex-shrink: 3;
        max-width: $max-readable-width;
      }
    }

    @media (max-width: 500px) {
      .project {
        display: block;
      }
      .project-thumb {
        display: block;
        margin-bottom: 1rem;
      }
    }

    .more-projects {
      @include font-size($h3-font-size);
    }
  }
}
