.full-width-homepage {
    #masthead {
        margin-bottom: 0 !important;
    }

    #mainContainer {
        max-width: initial !important;
        padding-left: 0    !important;
        padding-right: 0   !important;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

.oral-history-collection-splash {
  // show/hide two different images...
  .collection-splash-thumb {
    display: none;
  }
  .collection-banner {
    background-image: asset-url("oral_history_wide_banner.jpg");
    background-size: cover;
    background-position: center;
    height: 6rem;
  }
  @include media-breakpoint-up('lg') {
    .collection-splash-thumb {
      display: block;
    }
    .collection-banner {
      display: none;
    }
  }


  .collection-desc {
    max-width: calc(#{$max-readable-width} + 6rem);
    padding: 2rem 15px 2rem 15px;

    @include media-breakpoint-up('md') {
      padding-right: 4rem;
      padding-left: 4rem;
    }

    margin: 0 auto;
  }

  .collection-splash-thumb {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 266px;

    background-image: asset-url("oral_history_collection_splash.jpg");
    background-size: cover;
  }

  .canned-queries-container {
    background-color: $brand-light-grey;

    .canned-queries {
      padding: 0 15px;
      @include media-breakpoint-up('md') {
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
      }

      .canned-queries-heading {
        @extend .brand-alt-h2;
        padding: 0.9375rem 0;
      }

      .canned-queries-body {
        display: flex;
        flex-wrap: wrap;

        a.q {
          display: flex;
          align-items: center;
          background-color: white;
          margin-right: 2rem;
          margin-bottom: 2rem;

          .number, .link {
            padding: 0 0.5rem;
          }

          .number {
            font-size: 1.75rem;
            background-color: $brand-dark-grey;
            color: white;
          }
        }
      }
    }
  }

  .this-day-container {
    background-color: $brand-dark-grey;
    padding: 0.9375rem 15px 0 15px;

    @include media-breakpoint-up('md') {
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }

    .this-day-body {
      max-width: $main-container-max-width;
      padding-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;

      .this-day-card {
        width: $standard-thumb-width;
        margin: 0 4.4rem 4.4rem 0;
      }
      .this-day-label {
        font-family: $brand-sans-serif;
        font-weight: $semi-bold-weight;
        text-transform: uppercase;
        font-size: 0.875rem;  // 14px for 16px=1rem
        line-height: normal;
        letter-spacing: $small-caps-letter-spacing;
        background-color: white;
        padding: 1em 1em;
        border: 1px solid $brand-dark-grey;
        border-top: none;
        margin-bottom: 0;
      }
      .this-day-text-desc {
        @extend .text-muted;
        padding: 1em 1em;
        background-color: white;
        border: 1px solid $brand-dark-grey;
        margin-bottom: 0;
      }
    }
  }

  .projects {
    padding: 2rem 15px;

    @include media-breakpoint-up('md') {
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }


    .project {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 1rem;

      .project-thumb {
        width: 235px;
        margin-right: 2rem;
        flex-shrink: 1;
        position: relative;

        img {
          max-width: 100%;
        }

        .count {
          position: absolute;
          z-index: 1;
          top: 0.5rem;
          right: 0.5rem;


          font-size: 120%;
          background-color: $brand-dark-grey;
          color: white;
          border-radius: 3em;
          padding: 0 0.5em;
        }
      }

      .text {
        flex-shrink: 3;
        min-width: $max-readable-width / 2;
      }
    }

    @media (max-width: 500px) {
      .project {
        display: block;
      }
      .project-thumb {
        display: block;
        margin-bottom: 1rem;
      }
    }

    .more-projects {
      @include font-size($h3-font-size);
    }
  }
}
