

#shi-masthead-from-main-website {
    font: normal 400 1em/1.2 "SofiaPro","sans-serif";
    // reset to 20px/1.25 rem for consistency with main site where we copied
    // styles.
    font-size: 1.25rem;
    line-height: 1.2;


    @media print {
        .noprint {
            display: none
        }
    }

    @media (hover: hover) {
        .shi-hover {
            transition: opacity .3s;
        }

        .shi-hover:hover {
            opacity: .7
        }
    }

    .shi-top-bar {
        width: 100%;
        padding: 0 4em;
        background-color: #1D242B;
        color: #fff;
        overflow: hidden
    }

    // We need to specifically override for dig col, since our base styles otherwise are here.
    .shi-top-bar a {
        color: inherit;
    }

    .shi-top-bar__container {
        width: 100%;
        height: 100%;
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase
    }

    .shi-top-bar-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1.15em;
        min-height: 2.15em;
        padding: .3em 0
    }

    .shi-top-bar-nav__item {
        text-decoration: none;
        font-size: .77em;
        line-height: 136%;
        padding: .3571428571em 1.6428571429em
    }

    .shi-top-bar__hours {
        flex: 0 0 auto;
        font-size: .77em;
        line-height: 136%;
        padding: .3571428571em 0 .3571428571em 3.2142857143em;
        position: relative;
        max-width: 40%
    }

    .shi-top-bar__hours:before {
        content: "";
        background-color: #285f70;
        position: absolute;
        left: 0;
        right: -9999px;
        top: -300%;
        bottom: -300%
    }

    .shi-top-bar__hours span {
        position: relative
    }

    .shi-top-bar__hours span:first-child {
        font-weight: 700;
        margin-right: .5em
    }

    @media screen and (max-width: 991px) {
        .shi-top-bar:not(.shi-top-bar_mobile) {
            padding-left: 15px;
            padding-right: 15px
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav {
            overflow-x: auto;
            width: auto;
            padding: 0;
            justify-content: flex-start;
            flex-wrap: nowrap;
            margin-left: -15px;
            margin-right: -15px;
            scroll-behavior: smooth;
            scrollbar-color: #fff rgba(0,0,0,0);
            scrollbar-width: thin
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav::-webkit-scrollbar {
            height: 2px
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav::-webkit-scrollbar-track {
            background-color: rgba(0,0,0,0)
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav::-webkit-scrollbar-thumb {
            background-color: #fff
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav::-webkit-scrollbar:vertical {
            display: none
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav__item {
            flex: 0 0 auto;
            //font-size: .89375em;
            //line-height: 146%;
            padding-top: .7692307692em;
            padding-bottom: .7692307692em
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar__container {
            flex-direction: column-reverse
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar__hours {
            width: 100%;
            //font-size: .89375em;
            padding: .7692307692em 0;
            //line-height: 146%;
            text-align: center;
            max-width: none
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar__hours::before {
            top: 0;
            bottom: 0;
            left: -9999px
        }
    }
}
