/* We copy the masthead navbar from the main website at sciencehistory.org, and try to make it look the same...
   which involves copying some styles too... it's tricky to figure out which styles need to be copied from the
   large stylesheet(s) from main website; and tricky to make them apply right while interacting with our
   different overall styles.

   One thing we do is try to restrict all these copied styles to being within this #shi-masthead-from-main-website
   block.
*/

// experiments in dynamic proportional fonts






#shi-masthead-from-main-website {
    font: normal 400 1em/1.2 "SofiaPro","sans-serif";
    // reset to 20px/1.25 rem for kind-of consistency with main site where we copied
    // styles. this isn't actually exactly how CSS on main site works...
    //font-size: 1.25rem;

    // This should be proportional at 1.389vw, but
    // MIN 20px, which original did with a media query at min-width 1440px, but let's
    // do with CSS max instead, seems to have full support
    font-size: min(1.389vw, 20px);
    @media screen and (max-width: 1199px) {
        font-size:1.6vw
    }

    line-height: 1.2;


    // TOP BAR

    @media print {
        .noprint {
            display: none
        }
    }

    @media (hover: hover) {
        .shi-hover {
            transition: opacity .3s;
        }

        .shi-hover:hover {
            opacity: .7
        }
    }

    .shi-top-bar {
        width: 100%;
        padding: 0 4em;
        background-color: #1D242B;
        color: #fff;
        overflow: hidden
    }

    // We need to specifically override for dig col, since our base styles otherwise are here.
    .shi-top-bar a {
        color: inherit;
    }

    .shi-top-bar__container {
        width: 100%;
        height: 100%;
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase
    }

    .shi-top-bar-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1.15em;
        min-height: 2.15em;
        padding: .3em 0
    }

    .shi-top-bar-nav__item {
        text-decoration: none;
        font-size: .77em;
        line-height: 136%;
        padding: .3571428571em 1.6428571429em
    }

    .shi-top-bar__hours {
        flex: 0 0 auto;
        font-size: .77em;
        line-height: 136%;
        padding: .3571428571em 0 .3571428571em 3.2142857143em;
        position: relative;
        max-width: 40%
    }

    .shi-top-bar__hours:before {
        content: "";
        background-color: #285f70;
        position: absolute;
        left: 0;
        right: -9999px;
        top: -300%;
        bottom: -300%
    }

    .shi-top-bar__hours span {
        position: relative
    }

    .shi-top-bar__hours span:first-child {
        font-weight: 700;
        margin-right: .5em
    }

    @media screen and (max-width: 991px) {
        .shi-top-bar:not(.shi-top-bar_mobile) {
            padding-left: 15px;
            padding-right: 15px
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav {
            overflow-x: auto;
            width: auto;
            padding: 0;
            justify-content: flex-start;
            flex-wrap: nowrap;
            margin-left: -15px;
            margin-right: -15px;
            scroll-behavior: smooth;
            scrollbar-color: #fff rgba(0,0,0,0);
            scrollbar-width: thin
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav::-webkit-scrollbar {
            height: 2px
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav::-webkit-scrollbar-track {
            background-color: rgba(0,0,0,0)
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav::-webkit-scrollbar-thumb {
            background-color: #fff
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav::-webkit-scrollbar:vertical {
            display: none
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar-nav__item {
            flex: 0 0 auto;
            //font-size: .89375em;
            //line-height: 146%;
            padding-top: .7692307692em;
            padding-bottom: .7692307692em
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar__container {
            flex-direction: column-reverse
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar__hours {
            width: 100%;
            //font-size: .89375em;
            padding: .7692307692em 0;
            //line-height: 146%;
            text-align: center;
            max-width: none
        }

        .shi-top-bar:not(.shi-top-bar_mobile) .shi-top-bar__hours::before {
            top: 0;
            bottom: 0;
            left: -9999px
        }
    }

    // MAIN NAVBAR

    .header {
        position: relative;
        background: #fff;
        padding: 1.05em 4em;

        // fix to ~17px size. Original main site has dynamically scaling
        // font size with window size, we just arne't set up for that.
        // or... scale iwth it???
        //font-size: 1.0625rem;
    }

    .header__wrapper {
        max-width: 1280px;
        margin: 0 auto;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;

        position: relative;
        align-items: center;
        flex-wrap: wrap;
    }

    .header__logo {
        flex: 0 0 auto;
        max-width: 19.15em;
        position: relative;
    }

    .img-middle {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .img-middle img, .img-middle svg {
        display: block;
        flex-shrink: 0;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        margin: 0
    }

    .header__right-side {
        padding: .75em 0;
        display: flex;
        align-items: center
    }

    .header__menu-container {
        margin-right: 2.75em
    }

    .header__nav {
        display: flex;
        flex-wrap: wrap;
    }

    .header__nav-sandwich {
        position: relative;
        display: none;
        border: none;
        padding: 0;
        font-size: 1em;
        width: 1.0625em;
        height: 1.0625em;
        background-color: rgba(0,0,0,0);
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNyAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjE3IiBoZWlnaHQ9IjIuMjE3MzkiIGZpbGw9ImJsYWNrIi8+CjxyZWN0IHk9IjUuOTEyOTYiIHdpZHRoPSIxNyIgaGVpZ2h0PSIyLjIxNzM5IiBmaWxsPSJibGFjayIvPgo8cmVjdCB5PSIxMS44MjYiIHdpZHRoPSIxNyIgaGVpZ2h0PSIyLjIxNzM5IiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-image .3s
    }

    .header__nav-sandwich span {
        display: none
    }

    .header__nav>ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;

        // added because original site had a reset with these on all ul
        padding: 0;
        margin: 0;
    }

    .header__nav ul li a {
        display: block;
        text-decoration: none;
        font-size: .935em;
        line-height: 2em
    }

    .header__nav>ul>li:not(.shi-item-bordered) {
        position: relative;
        margin-top: .4em;
        background: #fff;
        border: 2px solid rgba(0,0,0,0)
    }

    .header__nav>ul>li:not(.shi-item-bordered):nth-last-child(-n+3) ul.sub-menu {
        left: auto;
        right: -2px
    }

    .header__nav>ul>li:not(.shi-item-bordered).current-menu-item::after {
        opacity: 1
    }

    .header__nav>ul>li:not(.shi-item-bordered)::after {
        content: "";
        position: absolute;
        z-index: 3;
        bottom: .4em;
        left: calc(1.2941176471em - 2px);
        right: calc(1.2941176471em - 4px);
        height: 2px;
        background: #d7272e;
        opacity: 0;
        transition: opacity .3s
    }

    .header__nav>ul>li:not(.shi-item-bordered)>a {
        // original padding left was 1.1rem, but we have a different rem -- and ours
        // is static while there's is dyanamic! This was painstakingly adjusted
        // to come close to matching.
        padding: 0 1.17648em .4em
    }

    .header__nav>ul>li.shi-item-bordered {
        margin-left: .6em;
        margin-right: .6em
    }

    .header__nav>ul>li.shi-item-bordered>a {
        line-height: 1em;
        padding: .5294117647em .5882352941em;
        border: 1px solid #d7272e;
        transition: color .3s,background .3s
    }

    .header__nav>ul>li.shi-item-bordered ul.sub-menu {
        display: none !important
    }

    .header__nav>ul>li:last-child:not(.shi-item-bordered) {
        margin-right: -0.6em
    }

    .header__nav>ul>li>a {
        text-transform: uppercase;
        font-weight: 900
    }

}
