// see docs at _mixins.scss, use these on full-screen divs
// to get proper margins and max width. If the section has a background, it needs
// an additional container div wrapping this one, to provide the background.
.shi-full-width-inner {
  @include shi-full-width-inner-mixin;
}

body.scihist-main-layout {
  // This makes the footer stay stuck to the bottom even on short screens, by
  // having #mainContainer div grow to fill screen.
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  #mainContainer {
    flex-grow: 1;
    @include media-breakpoint-up($layout-expand-up) {
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }
  }

  // We center this on larger screens with a max-width and auto margins.
  #mainContainer {
    max-width: $main-container-max-width;
  }

  // kind of like a bootstrap grid column, but with fixed width. Meant to be
  // inside a bootstrap `row` next to #column below.
  #sidebar, .sidebar-col {
    @include make-col-ready;
    padding-bottom: .625rem;

    .facets {
      padding-bottom: 1rem;
    }

    // Hack to try to make collapsible facets actually legible when collapsed.
    // BL is kind of a mess, through different versions.
    .facets-header {
      background-color: $shi-bg-gray;
      border: 1px solid $shi-bg-gray-border;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    @include media-breakpoint-up($layout-expand-up) {
      padding-right: $grid-gutter-width; // twice normal padding, we want that.
      padding-bottom: 0;
      width: $sidebar-width;
      max-width: 40vw;
      .facets {
        padding-bottom: 2rem;


        /* Blacklight has CSS for facet collapse that TRIES to be extensibile/customizable,
           but fails for our use case.  The facet component has a class facet-toggleable-md,
           which actually means stay collapsed THROUGH bootstrap md breakpoint, so start
           EXPANDED mode at `(min-width: 992px)` (lg)

          But we want to expand EARLIER, at our own $layout-expand-up, which confusingly
          is currenlty set to bootstrap `md` break point -- we want to EXPAND starting at `md`
          breakpoint,  `(min-width: 768px)`, not wait until `lg` breakpoint as BL did.

          BL defines a class facet-toggleable-lg that would do that... but in order to get
          our HTML to use it, we'd have to override the whole blacklight  _facet_group.html.erb
          template. Which we'd rather not do.

          So we hackily do some overrides here, sorry but it works.

          See the confusingly meta-programmed SCSS code at:
            https://github.com/projectblacklight/blacklight/blob/851c68f0621f22c8602aba326c9a1057bff218cf/app/assets/stylesheets/blacklight/_facets.scss#L16-L37
        */
        .facets-collapse {
          display: block !important;
          width: 100% !important;
        }
        .navbar-toggler {
           display: none !important;
        }

        .facets-header {
          background-color: unset;
          border: unset;
          padding-left: unset;
          padding-right: unset;
        }


      }
    }
  }

  #content, .content-col {
    @include make-col-ready;
    @include media-breakpoint-up($layout-expand-up) {
      // We need to keep this thing within the screen, so it won't flex-wrap
      // even as screen gets smaller. Which is annoying, cause if there was
      // no sidebar, this isn't the right max-width. But it's how chf_sufia
      // worked, overriding where needed, and good enough for now.
      //
      // Can't totally explain why we don't have to account for gutters
      // here, but it works somehow.
      max-width: calc(100% - (#{$sidebar-width}));
      margin-right: auto;
      margin-left: auto;
    }
  }
}
