

// override sufia facet widget styles to be more brand-like, and generally neater
.facets {
  // disable border Blacklight default is trying to put in at small sizes,
  // we have already taken care of it differently.
  --bl-facets-smallish-border: none;

  .facets-header {
    // To try to make top line of search results all line up, we hackily try to make
    // this have the exact same line-height in pixels as .page_links. hack to try to improve on BL.
    line-height: 2.3rem;

    h2.facets-heading {
      font-size: $body-font-size;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }
  }

  // We don't collapse our facets until bootstrap `sm` but Blacklight
  // wants to display them at medium, and the way blacklight does by hiding
  // with a `.d-sm-none` means this seems the best way to fix, a bit annoying.
  .facet-toggle-button {
    @extend .d-md-none;
  }

  .card-header {
    font-weight: normal;
    line-height: 1.4;
    color: inherit;

    padding: .625rem .9375rem;
  }

  .card-body {
    border-top: $card-border-width solid $card-border-color;
  }

  .facet-limit {
    margin-top: 0;
    margin-bottom: 0;
  }

  // keep double border from happening between "boxes" in our facet limit stack
  .facet-limit:not(:first-child) {
    border-top: 0;
  }

  .facet-values li {
    line-height: 1.2;
    // override blacklight spacing to be better
    padding-top: 0;
    padding-bottom: 0.5rem;
  }



  // eliminate any special styles on active facet by overrides
  // Originally active facet gets green bg and white text, we don't want!
  .facet-limit-active {
    color: inherit;
    border-color: $card-border-color !important;
    &  .card-header {
      background-color: $card-cap-bg !important;
      color: $body-color;
      border-color: $card-border-color !important;
      button {
        color: inherit; // in BL 8 need to override at this level too
      }
    }
    .facet-values li .selected {
      color: inherit !important;
    }
  }


  form.range_limit {
    display: block;
      // get 'limit' button all on one line by making inputs more compact
    input.range_begin, input.range_end {
      width: 52px;
      padding: 6px;
    }
  }
}

.sort-pagination {
  // to try to make search results line up horizontally, we have to override
  // some BL things, and match blacklight .facets-header so it lines up
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 0;

  //flexbox works a lot better than float here
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  .search-widgets {
    float: none !important;

    // override blacklight's use of bootstrap -- in our layout we want
    // this flush with right margin.
    #sort-dropdown {
      margin-right: 0 !important;
    }
  }
  &:after {
    display: none;
  }
}

// style more like brand style
.sort-dropdown .dropdown-toggle {
  text-transform: uppercase;
  font-size: 0.9375rem;
}

// compact pagination
.page_links  {
  // To try to make everything on top results row line up, this is a bit hacky,
  // this line-height has to be big enough to encompass sort button and match .facets-header
  line-height: 2.3rem;
  strong {
    font-weight: $semi-bold-weight;
  }
  .next {
    margin-left: 0.66em;
  }
  .prev {
    margin-right: 0.66em;
  }
  .next, .prev {
    text-transform: uppercase;
    letter-spacing: $small-caps-letter-spacing;
  }
}

// full pagination
.pagination {
  .first, .prev, .next, .next_page, .last {
    font-family: $brand-sans-serif;
    text-transform: uppercase;
    letter-spacing: $small-caps-letter-spacing;
  }

  .gap a {
    background: inherit;
  }

  .page-item > a:hover {
    background-color: $bg-lightly-shaded;
    border-color: $pagination-border-color;
    color: $body-color;
  }

  &.chf-pagination > li > a, &.chf-pagination > li > span {
    border: none;
  }
}
// eyeballed for when to switch from full to compact pagination
@media (max-width: 1010px) {
  .pagination-alt-expanded {
    display: none;
  }
}
@media (min-width: 1011px) {
  .pagination-alt-compact {
    display: none;
  }
}
.bottom-pagination {
  margin-bottom: $spacer * 2;
}



.other-searches {
  .card-header {
    text-transform: uppercase;
    color: $shi-blackish;
    font-weight: $semi-bold-weight;
    letter-spacing: $small-caps-letter-spacing;
  }

  .card-header, .list-group-item {
    padding: .625rem .9375rem;
  }

  .list-group {
    font-size: 1rem; // 16px instead of 17px body font
  }
  margin-bottom: $paragraph-spacer * 2;
}

.scihist-results-list-item-box-and-folder {
  margin-top: $paragraph-spacer * 0.5;
}

// Styling of actual hits on search results page. .documents-list parent selector
// needed to succesfully override some BL styles.
.documents-list {
  .document.scihist-results-list-item {
    display: flex;
    margin-bottom: ($spacer * 4);
    border-bottom: none;
    margin-top: 0;
    padding-top: 0;

    overflow-x: hidden;

    .scihist-results-list-item-thumb {
      flex-basis: $standard-thumb-width;
      width: $standard-thumb-width; // Should match ImageServiceHelper::THUMB_BASE_WIDTHS[:standard]
      max-width: 33%; // on smaller screens, more space for text
      margin-right: 28px;
      flex-shrink: 0;
      text-align: right;

      // Keep really high ones from taking up too much space
      max-height: $standard-thumb-width * 2.2;
      overflow: hidden;

      .scihist-results-list-item-num-members {
        @extend %special-label;
        // hack we shoudl change special-label to a sass mixin
        color: $body-color;
        a:not(:focus):not(:hover) {
          color: $body-color !important;
        }

        text-align: right;
        margin-top: .25rem;
      }

      img {
        max-width: 100%;
        &.bordered {
          border: 2px solid $table-border-color;
        }
      }
    }

    .scihist-results-list-item-content {
      max-width: calc(67% - 1.75rem);
    }

    .scihist-results-list-item-highlights {
      em {
        font-weight: bold;
        font-style: normal;
      }
    }


    // When the screen is too small for thumb + metadata next to each other,
    // make em over/under. At sidebar collapse side, and also hackily trying to do
    // at sidebar expanded size where there's still not enough space, but it's
    // kind of kluge.
    $max-results-above-below: 33rem; // 528px at 16px==1rem;
    @media (max-width: $max-results-above-below), (min-width: breakpoint-min('md')) AND (max-width: 55rem) {
      // Browser hyphenization isn't great, but only way to keep really long
      // words from busting the layout or going off-screen. We'll use it at small sizes.
      hyphens: auto;
      word-wrap: break-word;

      display: block;
      position: relative;

      .scihist-results-list-item-thumb, .scihist-results-list-item-content {
        max-width: 100%;
        text-align: left;
      }
      .scihist-results-list-item-content {
        margin-top: $paragraph-spacer;
      }
      .scihist-results-list-item-num-members {
        position: absolute;
        display: block;
        text-align: left !important;
        top: 0;
        left: $standard-thumb-width + ($spacer * 0.5);
        right: 0;
      }
    }

    .scihist-results-list-item-head {
      margin-top: 0;
      margin-bottom: 0;
      @include font-size($h3-font-size);
      a {
        color: $dark;
        &:hover, &:focus {
          color: $link-hover-color;
        }
      }
    }
    .scihist-results-list-item-genre {
      @extend %special-label;
      color: $shi-alt-muted-text;
      margin-bottom: .125rem;
    }

    .scihist-results-list-item-additional-titles, .scihist-results-list-item-parents {
      margin-bottom: ($paragraph-spacer * 0.5);
      font-weight: 500;

      ul {
        @extend .list-unstyled;
        @include font-size($h4-font-size);
        line-height: $headings-line-height;
        margin-top: 0;
      }
      li {
        margin-top: ($paragraph-spacer * 0.5);
      }
    }

    .scihist-results-list-item-date {
      ul {
        @extend .list-unstyled;
        margin-top: $paragraph-spacer * 0.25;
      }
    }

    .scihist-results-list-item-description, .scihist-results-list-item-highlights {
      margin-top: $paragraph-spacer;
    }

    .scihist-results-list-values {
      margin-top: $paragraph-spacer;
      li {
        // hanging indent, serving to add margin to subsequent lines
        padding-left: 0.66em;
        text-indent: -0.66em;
        margin-bottom: $paragraph-spacer * 0.125; // divided by 8 without using deprecated `/`
      }
    }

    .attribute-label {
      @extend %special-label;
      color: $shi-blackish;
      margin-right: 0.66em;
    }

    .cart-toggle-form {
      margin-top: $spacer;
    }
  }
}

.noresults {
  @include media-breakpoint-up(lg) {
    display: flex;
    gap: $paragraph-spacer * 2;

    * {
      flex-basis: 50%;
    }
  }

  .noresults-text {
    margin-bottom: $spacer * 2;
  }

  figure {
    img {
      width: 100%;
    }
    figcaption {
      text-align: right;
      font-style: italic;
    }
  }
}
