// The search form can be in:
//  * navbar (with inverse/dark bg and related text color needs) and where
//    .search-options is a slide-out drawer.
//  * On other pages, such as home page, with standard light background
//    and without inverse color needs

.search-form {
  width: 100%;

  // .input-group {
  //   margin-bottom: 0.625rem; // 10px
  // }

  // We use flex to make sure it wraps between heading and body if it needs to
  .form-group.limit-dates {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  // styles that apply whether in masthead or home page, or just on homepage,
  // some are overridden below in .masthead
  .search-options {
    margin-top: 0.625rem;

    .limit-dates-heading, label {
      @extend %special-label;
      display: inline;
      margin: 0 .66em 0.5em 0;
    }
    .search-option-year {
      display: inline;
      width: 9ch;
    }
    .form-group {
      margin: 0;
      &:first-child {
        margin-bottom: 1em;
      }
    }
  }
}

// For when it's in the navbar collapsed, so it is on a dark background and inline
.masthead .search-form {
  position: relative; // to anchor absolutely positioned drawer

  .form-control {
    // bootstrap sets this to padding-box, not sure why, but it makes
    // it look weird at least in chrome, on our dark bg with radius.
    background-clip: border-box;
  }

  .search-options {
    display: none;
    z-index: 1000; // not sure why we need
    position: absolute;
    width: 100%;

    background: #1D242B; //#285f70;
    border: 1px solid transparent;
    box-shadow: 0 20px 40px 10px rgba(0,0,0,0.5);
    //border-radius: 0 0 $btn-border-radius $btn-border-radius;
    color: white;


    h3, .limit-dates-heading, label {
      color: white;
      font-weight: 400;
    }

    .form-group {
      // make slide out look better using padding instead of margin, plus
      // get everything nicely spaced.
      margin: 0;
      padding: ($form-group-margin-bottom * 0.5) $form-group-margin-bottom;
    }
  }
}
