<div class="viewer-search-area d-none"> <%# initially hidden with d-none %>

  <form class="viewer-search-controls" data-trigger="viewer-search">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <b>Search Inside</b>
      <button type='button' class="btn btn-sm btn-outline-dark" data-trigger="viewer-close-search">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <span class="sr-only">Close search area<
      </button>
    </div>

    <div class="input-group input-group-sm">
      <%= text_field_tag :q, '', class: "q form-control",
          id: "q",
          autocomplete: "off"
      %>

      <label class="sr-only" for="q"><%= t('blacklight.search.form.search_field.label') %></label>


      <div class="input-group-append">
        <button type="button" class="btn btn-outline-dark" title="Search" id="search-submit-header" data-trigger="clear-search-results">
          <i class="fa fa-close" aria-hidden="true"></i>
          <span class="sr-only">cancel search</span>
        </button>
      </div>


      <div class="input-group-append">
        <button type="submit" class="btn btn-brand-dark" title="Search" id="search-submit-header">
          <i class="fa fa-search" aria-hidden="true"></i>
          <span class="sr-only"><%= t('blacklight.search.form.submit') %></span>
        </button>
      </div>
    </div>
  </form>




  <div class="search-results-container">
  </div>
</div>

