<div class="viewer-search-area">

  <form class="viewer-search-controls" data-trigger="viewer-search">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <b>Search Inside</b>
      <button type='button' class="btn btn-sm btn-outline-dark" data-trigger="viewer-close-search" title="Close search area">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <span class="sr-only">Close search area
      </button>
    </div>

    <div class="input-group input-group-sm">
      <%= text_field_tag :q, '', class: "q form-control",
          id: "q",
          autocomplete: "off"
      %>

      <label class="sr-only" for="q"><%= t('blacklight.search.form.search_field.label') %></label>


      <div class="input-group-append">
        <button type="button" class="btn btn-outline-dark" title="Reset search" id="search-submit-header" data-trigger="clear-search-results">
          <i class="fa fa-close" aria-hidden="true"></i>
          <span class="sr-only">Reset search</span>
        </button>
      </div>


      <div class="input-group-append">
        <button type="submit" class="btn btn-brand-dark" title="Search" id="search-submit-header">
          <i class="fa fa-search" aria-hidden="true"></i>
          <span class="sr-only"><%= t('blacklight.search.form.submit') %></span>
        </button>
      </div>
    </div>

    <%# switch to display:flex to show, display:none to hide %>
    <div id="searchNav" class="justify-content-between align-items-center mt-3" style="display: none">
      <button type="button" class="btn btn-brand-dark btn-sm" title="Prevous result" data-trigger="viewer-result-previous">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span class="sr-only">Previous result</span>
      </button>

      <span id="searchNavLabel"></span>

      <button type="button" class="btn btn-brand-dark btn-sm" title="Next result" data-trigger="viewer-result-next">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <span class="sr-only">Next result</span>
      </button>
    </div>
  </form>




  <div class="search-results-container">
  </div>
</div>

