<%= simple_form_for(view.model, data: {remote: true, auto_submit: true}) do |f| %>
  <div class="input-group input-group-sm flex-nowrap">
    <%= f.collection_select :status,
          view.model.available_statuses.collect {|s| [s.humanize, s]}, :second, :first, {},
          class: "form-control custom-select"
    %>
    <div class="input-group-append">
      <%= f.button_button '<i class="fa fa-floppy-o fa-fw" aria-hidden="true" title="Save"></i><span class="sr-only">Save</span>'.html_safe,
        type: :submit,
        class: "btn btn-outline-secondary",
        data: {
          "disable-with": '<i class="fa fa-spinner fa-spin fa-fw" title="Saving..."></i><span class="sr-only">Saving...</span>',
          "submit-button": "true"
        } %>
    </div>
  </div>
<% end %>
