<span class="provenance-summary">
  <%= view.provenance_summary %>
</span>
<% unless view.provenance_notes.nil? %>
    <a data-toggle="collapse" href="#collapseProvenanceNotes"
      role="button" aria-expanded="false"
      aria-controls="collapseProvenanceNotes">Show notes</a>
    <div class="collapse" id="collapseProvenanceNotes">
    <span class="provenance-notes">
      <%= view.provenance_notes %>
     </span>
    </div>
<% end %>