<% if current_user%>
	<div class="alert alert-primary">Survey hidden because you are logged in.</div>
<% elsif  Rails.application.config.hide_survey_sparrow %>
	<div class="alert alert-primary">Survey hidden because hide_survey_sparrow is turned on.</div>
<% else %>
<div id="ss_survey_widget"></div>
	<script id="SS_SCRIPT">
	  	function sparrowLaunch(opts) {
	    var e = "ss-widget",
	        t = "script",
	        a = document,
	        r = window,
	        l = localStorage;
	    var s, n, c, rm = a.getElementById('SS_SCRIPT');
	    r.SS_WIDGET_TOKEN = "tt-5zUYbALWMcKM1wqSzFDcLi";
	    r.SS_ACCOUNT = "sciencehistory.surveysparrow.com";
	    r.SS_SURVEY_NAME = "digitial-collections-survey";
	    if (!a.getElementById(e) && !l.getItem('removed-ss-widget-tt-5zUYbALWMcKM1wqSzFDcLi')) {
	        var S = function() {
	            S.update(arguments)
	        };
	        S.args = [];
	        S.update = function(e) {
	            S.args.push(e)
	        };
	        r.SparrowLauncher = S;
	        s = a.getElementsByTagName(t);
	        c = s[s.length - 1];
	        n = a.createElement(t);
	        n.type = "text/javascript";
	        n.async = !0;
	        n.id = e;
	        n.src = ["https://", "sciencehistory.surveysparrow.com/widget/", r.SS_WIDGET_TOKEN, "?", "customParams=", JSON.stringify(opts)].join("");
	        c.parentNode.insertBefore(n, c);
	        r.SS_VARIABLES = opts;
	        rm.parentNode.removeChild(rm);
	    }
	};
</script>
<script>
  sparrowLaunch({
    //add custom params here
  })
</script>
<% end %>