<% if current_user%>
	<div class="alert alert-primary">Survey hidden because you are logged in.</div>
<% elsif  Rails.application.config.hide_survey_sparrow %>
	<div class="alert alert-primary">Survey hidden because hide_survey_sparrow is turned on.</div>
<% else %>
<div id="ss_survey_widget"></div>
	<script id="SS_SCRIPT">
		// moved this to the js file
	</script>
<% end %>