<div class="ohms-transcript-container">
  <% display_paragraphs do |start_seconds, speaker, html_text| %>
      <div class="ohms-transcript-paragraph-wrapper">
        <p class="ohms-transcript-paragraph" data-searchable-transcript-line="true">
          <% if start_seconds %>
            <%=  content_tag(
                    "a",
                    format_ohms_timestamp(start_seconds),
                    href: "#t=#{start_seconds}",
                    class: "ohms-transcript-timestamp default-link-style",
                    data: { "ohms_timestamp_s" => start_seconds}
                  )
            %>
          <% end %>

          <% if speaker %>
            <span class="transcript-speaker"><%= speaker %></span>:
          <% end %>

          <%= html_text %>
        </p>
    </div>
  <% end %>
</div>

<% if sanitized_footnotes.present? %>
  <hr />

  <div class="mx-1 my-2"><strong>NOTES</strong></div>

  <div class="footnote-list mx-1 mb-5">
    <% sanitized_footnotes.each_pair do |reference, footnote_text| %>
        <%= render ::OralHistory::FootnoteComponent.new(footnote_reference: reference, footnote_text: footnote_text) %>
    <% end %>
  </div>
<% end %>



