<footer id="footer" role="contentinfo" aria-labelledby="footerTitle">

  <div class="footerrow">
    <h1 class="footer-title" id="footerTitle"> <%= link_to "Science History Institute", "https://www.sciencehistory.org" %> </h1>
  </div>

  <div class="footerrow">
    <div class="footeraddresses">
      <div class="firstaddress">
        <h2>Headquarters</h2>
        315 Chestnut Street<br>Philadelphia, PA 19106<br>215.925.2222<br>
        <a target="_blank" href="https://www.google.com/maps/dir/''/science+history+institute/data=!4m5!4m4!1m0!1m2!1m1!1s0x89c6c884f0010fd7:0x9fdd2fbe5d2744d3?sa=X&ved=0ahUKEwj_mtuCpbrZAhVLs1kKHSpjAicQ9RcIwgEwCw">
          <i class="fa fa-map-marker"></i> Directions
        </a>
        <br>
        <a href="https://sciencehistory.org/museum/visit">
          <i class="fa fa-university"></i> Museum Hours
        </a>
      </div>
      <div class="secondaddress">
        <div class="mb-4">
          <h2>West Coast</h2>
          415.798.2104<br>
          <a href="https://www.sciencehistory.org/contact-us#west">
            <i class="fa fa-envelope"></i> Get in Touch
          </a>
        </div>

        <div>
          <h2>Boston/Cambridge</h2>
          617.500.8668<br>
          <a href="https://sciencehistory.org/contact-us#boston-cambridge"">
            <i class="fa fa-envelope"></i>
            Get in Touch
          </a>
        </div>
      </div>
      <div class="thirdaddress">
      <h2>Europe</h2>
      Maison de la Chimie<br>
      28, Rue Saint-Dominique<br>
      75007 Paris<br>
      France<br>
      <a href="https://www.sciencehistory.org/contact-us#europe">
        <i class="fa fa-margin fa-envelope"></i> Get in Touch
      </a>
    </div>
  </div>

  <div class="footerrow">
    <div class="footersocialicons">
      <div class="footersocialicon">
        <a href="https://facebook.com/scihistoryorg" target="_blank" aria-label="Facebook">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
      </div>
      <div class="footersocialicon">
        <a href="https://twitter.com/scihistoryorg" target="_blank" aria-label="Twitter">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
      <div class="footersocialicon">
        <a href="https://www.instagram.com/scihistoryorg/" target="_blank" aria-label="Instagram">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
      <div class="footersocialicon">
        <a href="https://www.youtube.com/c/ScienceHistoryInstitute" target="_blank" aria-label="YouTube">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </div>
      <div class="footersocialicon">
        <a href="https://www.linkedin.com/company/scihistoryorg/" target="_blank" aria-label="LinkedIn">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
      <div class="footersocialicon">
        <a href="https://vimeo.com/scihistoryorg " target="_blank" aria-label="Vimeo">
          <i class="fa fa-vimeo" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="footerrow">
    <div class="footerprivacycopyright">
      &copy; <%= Time.current.year %>  Science History Institute |
      <a href="https://www.sciencehistory.org/privacy-policy/" >Privacy Policy</a> |
      <a href="https://www.sciencehistory.org/accessibility">Accessibility</a>
    </div>
  </div>
</footer>
